<span class="progressBar"> 
	<div class="progressText"><%=progress%>/6 completado </div>
	<% var width = progress / 6 * 100 ; %>
	<div class="outterBar"><div class="innerBar" style="width: <%=width%>%;"></div></div>
</span>