<header class="" id="mainHeader">
    <div class="left">
        <% if (session.user) { %>
            <a href="/?_method=DELETE"><i class="material-icons">
power_settings_new
</i></a>
        <% } %>
    </div>
    <div class="right">
        <% if (!session.user) { %>
            <a href="/">Login</a>
        <% } else { %>
            <%= session.user.username %>
        <% } %>
    </div>
</header>
