<% include ../partials/_header.ejs %>
<div class="main student">
    <div class="dialog" >
        </br>
        Seleccione un equipo:
        </br>
        </br>
        <div class="join-button-flex-container">
            <% for (var i in teams) { %>
                <% var team = teams[i]; %>
                <form method='POST' id="form" action='/users/<%= session.user.id %>/members/<%= team.id %>?_method=put'>
                    <button type="submit"> <%= team.name %></button>
                </form>
            <% } %>

                <div>
                    <a href="/teams/new">
                        <button style="width:100px;height:50px">+</button>
                    </a>
                </div>

        </div>
    </div>
</div>


