
<% include ../partials/_header.ejs %>
<div class="main student">
    <div class="dialog" >
        </br>
        Añada un equipo:
        </br>
        </br>
        <div class="join-button-flex-container">
                <div>
                    <form method="POST" id="newForm" action="/turnos/<%= turno.id %>/teams">
                        <div>
                            <input type="text" id="nam" required name="name" autocomplete="off"/>
                        </div>
                        <button type="submit">finalizar</button>
                    </form>
                </div>
        </div>
    </div>
</div>
