
<% include ../partials/_header.ejs %>
<div class="main student">
    <div class="dialog" >
        </br>
        Añada un equipo:
        </br>
        </br>
        <div class="">
                <div>
                    <form method="POST" id="newForm" action="/escapeRooms/<%= escapeRoom.id %>/turnos/<%= turno.id %>/teams">
                        <div>
                            <input type="text" id="name" required name="name" placeholder="Escribe el nombre del equipo" autocomplete="off"/>
                            <p class="info">Tus compañeros podrán unirse a tu equipo cuando se registren en la escape room.</p>
                        </div>
                        <div class="join-button-flex-container">
                        <a  href="javascript:history.back()"><button class="rounded deleteButton" type="button">volver</button></a>
                        <button class="rounded acceptButton" type="submit">finalizar</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>
