<% include ../partials/_header.ejs %>
<div class="main student">
    <div class="dialog" >
        </br>
        Seleccione un equipo:
        </br>
        </br>
        <div class="join-button-flex-container">
            <button type="submit"><%= team.name %>
            <% for (var i in usuarios) { %>
                <% var user = usuarios[i]; %>
                   </br></br> <%= user.name %>
            <% } %>
            </button>

            <div>
                <a href="/teams/new">
                    <button style="width:100px;height:50px">+</button>
                </a>
            </div>

        </div>
    </div>
</div>
