<% include partials/_header.ejs %>
<div class="main inspiration">
    	<h2><%=i18n.inspiration.title%></h2>
    	<p class="intro-paragraph"><%-i18n.inspiration.intro%></p>
        <h3 id="paso1">Paso 1: Establecer el planteamiento general</h3>
		<p>Una buena manera de empezar a diseñar una <em> escape room </em> educativa es establecer cómo va a encajar la actividad dentro de la asignatura. El hecho de ofrecer la actividad a los alumnos como opcional u obligatoria, evaluable o extra, tiene un gran peso en el número de alumnos que asisten y en el perfil de los mismos, así como en su motivación y preparación previa. En este aspecto, es necesario evaluar a priori los recursos disponibles para poder dimensionar correctamente la actividad.</p>
		<p>En primer lugar, el espacio juega un papel clave en la celebración de la actividad. Encontrar una sala pequeña en la que poder “encerrar” a los participantes es sencillo, pero si se pretende ofrecer la actividad en asignaturas con cientos de alumnos matriculados, esta opción resulta poco escalable, puesto que habría que repetir la actividad decenas de veces para poder hacer frente a tan alta demanda. En su lugar, se puede hacer uso de un espacio más amplio en el que toda la clase pueda participar simultáneamente. Esta alternativa facilita el desarrollo de la actividad y disminuye la inversión de tiempo por parte del profesorado, pero puede jugar en contra del efecto de inmersión, de vital importancia en una <em> escape </em> <em> room, </em> si no se selecciona una temática adecuada que justifique esta disposición.</p>
		<p>En algunas asignaturas puede ser necesario hacer uso de material especial: microscopios, ordenadores, calculadoras, equipamiento médico, etc. La disponibilidad del mismo, así como el presupuesto para la elaboración de los retos y atrezo para la <em> escape room </em> también se deben tener en cuenta a la hora de dimensionar la actividad.</p>
		<p>La duración también es un aspecto importante a tener en cuenta. Se recomienda que la actividad tenga la misma extensión que una sesión típica de prácticas de la asignatura para poder integrarla fácilmente en el horario. En el caso de tener que repetir la <em> escape room </em> en múltiples turnos con grupos reducidos de alumnos se podría reducir la duración para poder realizar varias iteraciones en horario de clase, aunque es necesario asegurarse de que el tiempo establecido es suficiente para lograr que los alumnos cumplan con los objetivos académicos establecidos para la actividad.</p>
		<p>Por último, es importante decidir de qué tamaño serán los equipos que formarán los alumnos. Nada impide que la <em> escape room </em> se pueda resolver de forma individual, pero el trabajo en equipo y la comunicación son competencias transversales inherentes a este tipo de actividad. Sin embargo, los equipos de tamaño excesivo pueden desencadenar situaciones en las que algunos miembros del equipo no participan en la resolución de los retos. El tamaño óptimo es aquel que permita a todos los miembros participar de forma activa resolviendo los distintos enigmas y hacer uso de todo el material involucrado en la actividad.</p>

		<h3 id="paso2">Paso 2: Definir los objetivos de aprendizaje</h3>
		<p>Una vez definida la actividad en el contexto de la asignatura en la cual se va a desarrollar, es necesario delimitar qué contenidos específicos del temario va a cubrir la <em> escape room </em> , al igual que ocurre en cualquier otra actividad didáctica. Se recomienda establecer primero unos objetivos generales y a continuación desgranar éstos en objetivos más específicos que los alumnos deben lograr para superar la actividad. Una manera simple de establecer los objetivos de aprendizaje de la <em> escape room </em> es definiéndolos mediante la taxonomía de Bloom [ <a href="https://docs.google.com/document/d/1it1LYHozJ5fpnBDZpTlXx7jXv7RGbUS4MEUpAgxuCSY/edit#heading=h.pryu1fmnx54l"> 3 </a> ]:</p>
		<ul>
		<li><strong> Recordar: </strong> El alumno muestra el recuerdo de materiales previamente aprendidos por medio de hechos evocables, términos, conceptos básicos y respuestas. Ejemplo: “ <em> Al final de la actividad, el alumno será capaz de enunciar las leyes de Newton </em> ”.</li>
		<li><strong> Comprender: </strong> El alumno demuestra el entendimiento y la comprensión de hechos e ideas por medio de la organización, la comparación, la traducción, la interpretación, las descripciones. Ejemplo: “ <em> Al final de la actividad, el alumno será capaz de describir paso a paso el ciclo de Krebs </em> ”.</li>
		<li><strong> Aplicar: </strong> Uso de conocimiento nuevo. Resolver problemas en nuevas situaciones aplicando el conocimiento adquirido, hechos, técnicas y reglas en un modo diferente. Ejemplo: “ <em> Al final de la actividad, el alumno será capaz de escoger el método de resolución de ecuaciones diferenciales adecuado para cada aplicación </em> ”.</li>
		<li><strong> Analizar: </strong> Examen y discriminación de la información identificando motivos o causas. Hacer inferencias y encontrar evidencia para fundamentar generalizaciones. Ejemplo: “ <em> Al final de la actividad, el alumno será capaz de diferenciar los sistemas de coordenadas polares, cilíndricas y esféricas </em> ”.</li>
		<li><strong> Evaluar: </strong> Presentación y defensa de opiniones juzgando la información, la validez de ideas o la calidad de una obra en relación con un conjunto de criterios. Ejemplo: “ <em> Al final de la actividad, el alumno será capaz de determinar si el uso del principio de conservación de la energía o del momento será la estrategia más adecuada para resolver un problema dinámico </em> ”.</li>
		<li><strong> Crear: </strong> Compilación de información de diferentes modos combinando elementos en un patrón nuevo o proponiendo soluciones alternativas. Ejemplo: “ <em> Al final de la actividad, el alumno será capaz de diseñar un sistema de control dadas unas especificaciones técnicas determinadas </em> ”.</li>
		</ul>

		<h3 id="paso3">Paso 3: Escoger los retos</h3>
		<p>En base a los objetivos establecidos en el paso anterior, es necesario identificar la manera apropiada de poner a prueba los conocimientos de los alumnos, combinando tareas que involucren la aplicación práctica de las habilidades adquiridas en la asignatura con conocimientos teóricos. Los retos a los que los alumnos se enfrentan son altamente dependientes de la asignatura en la que se enmarca la actividad. El <a href="https://docs.google.com/document/d/1it1LYHozJ5fpnBDZpTlXx7jXv7RGbUS4MEUpAgxuCSY/edit#heading=h.u30ym3p7jzsw"> Anexo I </a> incluye algunos ejemplos hallados en la literatura existente acerca de <em> escape rooms </em> educativas categorizadas según su ámbito de aplicación.</p>
		<p>Además de involucrar los conocimientos adquiridos en la asignatura, es conveniente que los retos integren algunos de los recursos empleados en las <em> escape rooms </em> de ocio como técnica de gamificación para motivar a los alumnos. Algunos ejemplos de estos recursos son [1]:</p>
		<ul>
		<li><strong> Mensajes codificados </strong> . Los códigos y cifrados son los más comunes en estas dinámicas. Gracias a la amplia variedad de códigos que existen, pueden adaptarse perfectamente a la temática. Pueden esconder mensajes o combinaciones numéricas.</li>
		<li><strong> Formar las partes de un objeto </strong> como ordenar las partes de un texto, una imagen o un fichero de código. Completar los huecos de un texto con palabras y obtener un código numérico del número de letras de cada palabra. Pueden encontrar las partes de forma secuencial o todas juntas.</li>
		<li><strong> Extraer información </strong> . Las posibilidades son infinitas: desde escanear un código QR, a descubrir un compartimento secreto en un objeto inesperado. También pueden generarse recursos falsos como mensajes de texto, billetes de avión o tren, tickets de compra…</li>
		<li><strong> Lógica abstracta </strong> . Enigmas lógicos en el que el reto es simplemente llegar a la respuesta correcta.</li>
		<li><strong> Búsqueda de objetos físicos escondidos </strong> . Al resolver un puzzle o desbloquear un candado se puede tener acceso a una pista que nos dirija a un lugar concreto de la sala.</li>
		<li><strong> Empleo inusual de algún objeto. </strong> Se trata de usar objetos con un fin diferente al que ordinariamente poseen.</li>
		<li><strong> Luces, sonidos, olores… </strong> Emplear linternas, luces ultravioletas, código morse o braille, en definitiva, hacer uso de los cinco sentidos, juega a favor de la experiencia inmersiva que se busca con una <em> escape room </em> y marca una gran diferencia respecto a cualquier otro tipo de actividad didáctica</li>
		</ul>
		<p>Una vez decididos los retos a los que tendrán que enfrentarse los alumnos, se debe escoger la estructura que seguirán, es decir, el orden en el cual los alumnos tendrán que resolverlos. Existen varias alternativas [ <a href="http://scottnicholson.com/pubs/erfacwhite.pdf"> 3 </a> ]:</p>
		<div class="flex-images">
			<div class="flex-col">
				<img src="/images/open.png"/>
				<div><strong> (a) </strong> Abierta </div>
			</div>
			<div class="flex-col">
				<img src="/images/linear.png"/>
				<div><strong> (b) </strong> Lineal </div>
			</div>
			<div class="flex-col">
				<img src="/images/path.png"/>
				<div><strong> (c) </strong> Basada en trayectoria </div>
			</div>
		</div>
		<ol class="lettered">
		<li><strong> Abierta: </strong> Los retos no siguen ningún orden concreto sino que se pueden abordar en cualquier secuencia. La combinación de las soluciones de todos ellos da lugar a la solución final. Esta disposición da pie a que los miembros del equipo repartan las tareas y cada uno se centre en un reto determinado.</li>
		<li><strong> Lineal: </strong> Los puzzles siguen un orden específico en el que la solución de cada reto desvela el reto siguiente hasta llegar a la solución final. Esta disposición requiere que todos los miembros del equipo trabajen en conjunto para resolver cada reto, por lo que puede parecer la más adecuada para un contexto educativo. Además, la estructura lineal es más fácil de monitorizar puesto que permite cuantificar de forma precisa el progreso de cada equipo. Adicionalmente, como esta estructura establece el orden en el que se realizan los retos, se pueden disponer de forma que su dificultad sea cada vez mayor. De esa manera, los primeros retos serían más sencillos, con el objetivo de motivar a los alumnos, mientras que los últimos entrañarían una complejidad mayor, de forma que sólo los alumnos que dominen el material de la asignatura conseguirían superarlos.</li>
		<li><strong> Basada en trayectoria: </strong> La estructura basada en trayectoria es la más común en <em> escape rooms </em> de ocio. Se trata de una combinación de las estructuras anteriores en la que los jugadores se enfrentan a varias series de retos secuenciales en paralelo. Al resolver cada una de estas trayectorias se desvela la solución final. Esta estructura parece la más adecuada para grupos grandes ya que permite dividir los esfuerzos mientras que se mantiene cierto control sobre el orden en que se resuelven los retos.</li>
		<li><strong> Otras: </strong> En realidad, las <em> escape rooms </em> pueden llegar a tener disposiciones muy complejas combinando las estructuras anteriores de distintas maneras para formar una <em> escape room </em> híbrida. En ocasiones, los miembros de un equipo son separados en distintas salas con sus respectivos retos, entre los que figura reunirse de nuevo para seguir avanzando en su objetivo común.</li>
		</ol>
		<p>Independientemente de la estructura escogida, los retos deben seguir algunas pautas generales:</p>
		<ul>
		<li>Un reto debe tener una solución única y ser fácilmente reproducible.</li>
		<li>Se debe evitar que puedan resolverse los retos por prueba-error.</li>
		<li>Los alumnos deben tener claro cuando han resuelto un reto. Tienen que tener la sensación de progreso.</li>
		<li>Cada reto debe estar integrado en la narrativa y tener sentido de cara a lograr el objetivo final de la <em> escape room </em> .</li>
		<li>Los retos no deben tener estados irreversibles, es decir, aunque los alumnos prueben soluciones erróneas, no deben ser capaces de “romperlo” .</li>
		</ul>

		<h3 id="paso4">Paso 4: Seleccionar una temática apropiada</h3>
		<p>La temática es una de las piezas clave que diferencia una <em> escape room </em> de un ejercicio práctico en grupo. Se trata de la historia que envuelve toda la experiencia y que proporciona el carácter inmersivo del juego. Aporta sentido a las tareas que los alumnos deben realizar durante la <em> escape room </em> y cohesiona todas las pruebas de la actividad. La temática no se refiere sólo a la narrativa, sino que incluye el contexto temporal y espacial. Cuanto más concreto sea el contexto en el que se desarrolla la <em> escape room </em> , más inmersos estarán los alumnos en la narrativa. Por ejemplo: Año 3000, en EE.UU., durante la tercera Guerra Mundial; actualidad, en un hospital, una epidemia desata la alerta sanitaria en Europa.</p>
		<p>Una buena fuente de inspiración para seleccionar una temática son los libros, los videojuegos, y las películas y series famosas, ya que es probable que los alumnos conozcan la trama o los personajes de antemano.  Por supuesto, la asignatura en la que se enmarque la <em> escape room </em> ejercerá una gran influencia en la selección de la temática, puesto que los retos a superar deben estar apoyados por la narrativa. Algunos ejemplos de temáticas son:</p>
		<table>
		<tbody>
		<tr>
		<td><img class="narrative" src="/images/sciencefiction.png"/> </td>
		<td> </td>
		<td>
		<p><strong> Fantasía o ciencia ficción </strong></p>
		<p>Apocalipsis zombie, invasión extraterrestre, Harry Potter, MineCraft</p>
		</td>
		</tr>
		<tr>
		<td><img class="narrative" src="/images/knife.png"/>  </td>
		<td> </td>
		<td>
		<p><strong> Suspense </strong></p>
		<p>Atentado, atraco, secuestro, epidemia, envenenamiento</p>
		</td>
		</tr>
		<tr>
		<td><img class="narrative" src="/images/spy.png"/> </td>
		<td> </td>
		<td>
		<p><strong> Aventuras </strong></p>
		<p>Piratas, agentes especiales, espías, hackers, militares</p>
		</td>
		</tr>
		<tr>
		<td><img class="narrative" src="/images/history.png"/> </td>
		<td> </td>
		<td>
		<p><strong> Historia </strong></p>
		<p>Antigua grecia, antiguo egipto, época victoriana, segunda guerra mundial</p>
		</td>
		</tr>
		</tbody>
		</table>
		<p>Uno de los mayores desafíos es escoger un tema que resulte atractivo a la mayor parte de los alumnos. Para ello, es imprescindible tener en cuenta el perfil del alumnado en términos de edad, género, nacionalidad y disciplina académica [ <a href="http://scottnicholson.com/pubs/erfacwhite.pdf"> 3 </a> ].  Por ejemplo, los hombres suelen interesarse más por temáticas relacionadas con operaciones militares, escaparse de situaciones desagradables (mazmorras, cárcel, etc.), fenómenos paranormales o resolver crímenes. Las mujeres, en cambio, se muestran más atraídas por <em> escape rooms </em> relacionadas con secuestros y atracos o por <em> escape rooms </em> . Por otro lado, en Europa es más común contextualizar las <em> escape rooms </em> en una época pasada, mientras que en Asia y América suelen transcurrir en el presente.</p>
		<p>Es importante desarrollar una narrativa que haga de nexo entre todos los retos de la <em> escape room </em> y mantenga a los alumnos atentos a lo que está sucediendo en el juego. Tiene que dar la sensación de que la historia se desarrolla a medida que los alumnos van resolviendo los distintos retos. Resulta muy interesante integrar el factor tiempo en la narrativa ya que mantiene alerta a los alumnos. Algunos ejemplos son: una bomba con un contador de una hora; las víctimas han ingerido veneno y tienen una hora de vida; el avión tiene combustible suficiente para volar sólo una hora...</p>



		<h3 id="paso5">Paso 5: Construir los retos, pistas y demás materiales </h3>
		<p>Por último, con el diseño de la <em> escape room </em> y los recursos disponibles en mente, es hora de comenzar a construir todas las piezas. Primero es necesario elaborar todos los retos que han de resolver los alumnos. A continuación, se deciden las pistas que se les van a proporcionar en caso de quedarse atascados. También es muy importante elaborar las  instrucciones iniciales que van a recibir los alumnos, incluyendo las normas de la actividad y, opcionalmente, un videomensaje introductorio. Por último, se prepara la sala donde se va a desarrollar la actividad con el material necesario tanto para la superación de los retos como de atrezo.</p>
		<h4>Retos</h4>
		<p>En primer lugar hay que construir los distintos retos que los alumnos tendrán que resolver. Para ello es común emplear recursos físicos como candados, llaves, cajas, equipamiento de laboratorio, rompecabezas, etc. En el caso de una <em> escape room </em> en las que muchos alumnos participan simultáneamente, este tipo de recursos pueden aumentar en gran medida el presupuesto necesario para la actividad. Una solución es combinar recursos físicos sencillos (de papel, por ejemplo) con recursos digitales gratuitos: aplicaciones móviles, sonidos, puzzles virtuales, etc. El <a href="https://docs.google.com/document/d/1it1LYHozJ5fpnBDZpTlXx7jXv7RGbUS4MEUpAgxuCSY/edit#heading=h.s4pdqgk5w2x8"> Anexo II </a> contiene una lista de  recursos que pueden ser de gran utilidad para crear este tipo de retos.</p>
		<h4>Pistas</h4>
		<p>Una parte esencial en el diseño de toda <em> escape room </em> son las pistas y ayudas. Puede que los alumnos se queden atascados en un reto concreto y, si no saben cómo resolverlo, recurrirán al profesor o a la persona responsable de la actividad para pedir ayuda. Es esencial evitar que los alumnos pasen demasiado tiempo en un mismo reto ya que, si esto ocurre, se corre el riesgo de que pierdan la motivación. Además, esa situación puede ser contraproducente desde el punto de vista pedagógico, ya que los alumnos no se enfrentarán  a la totalidad de los retos [ <a href="https://docs.google.com/document/d/1it1LYHozJ5fpnBDZpTlXx7jXv7RGbUS4MEUpAgxuCSY/edit#heading=h.pryu1fmnx54l"> 4 </a> ].  </p>
		<p>En la mayoría de <em> escape rooms </em> de ocio los jugadores son vigilados mientras están dentro de la habitación y si se quedan atascados se les ofrece ayuda sin que la pidan explícitamente al encargado del juego [ <a href="https://docs.google.com/document/d/1it1LYHozJ5fpnBDZpTlXx7jXv7RGbUS4MEUpAgxuCSY/edit#heading=h.pryu1fmnx54l"> 1 </a> ]. La razón por la que se hace así es porque cuanto más inmersos estén los participantes en el juego, mayor será su motivación y concentración en los distintos retos. En el caso de <em> escape rooms </em> educativas con un número elevado de participantes, resulta imposible monitorizar la actividad de todos ellos de manera simultánea, por lo que es más aconsejable que sean ellos mismos los que pidan ayuda cuando la necesiten. En el diseño de cada reto se debe tener en cuenta qué pista específica se le revelará a un grupo de alumnos en caso de quedarse atascados. Se puede modular el nivel de detalle de las mismas en función del progreso de los alumnos, del tiempo restante o de cualquier otro parámetro. No obstante, la obtención de ayuda no tiene por qué ser inmediata, sino que se puede requerir que los alumnos tengan que ganarse las pistas o que pedir ayuda tenga algún tipo de penalización. A continuación se resumen algunas de las estrategias para la concesión de pistas encontradas en la literatura existente acerca de <em> escape rooms </em> educativas disponibles en el <a href="https://docs.google.com/document/d/1it1LYHozJ5fpnBDZpTlXx7jXv7RGbUS4MEUpAgxuCSY/edit#heading=h.u30ym3p7jzsw"> Anexo I </a> :</p>
		<ul>
		<li><strong> Tiempo mínimo para la obtención de pistas </strong> . Los alumnos pueden acceder a la ayuda si llevan más de un tiempo determinado en una misma prueba.</li>
		<li><strong> Penalización </strong> . Los alumnos sacrificarán X minutos del tiempo total de la actividad si quieren obtener una ayuda.</li>
		<li><strong> Tarjetas de ayuda </strong> . Se reparten a cada alumno o grupo un número limitado de tarjetas de ayuda que deberán entregar al profesor en caso de necesitar una pista.</li>
		<li><strong> Resolución de cuestionarios para la obtención de ayuda. </strong> Para evitar que la petición de ayuda sea constante, una posibilidad es idear una batería de preguntas que los alumnos tengan que intentar responder cada vez que necesiten una pista. Si consiguen acertar más de un número determinado de preguntas, conseguirán una pista. De esta manera los alumnos se ganarán el derecho a obtener ayuda y se ponen a prueba sus conocimientos teóricos acerca de la asignatura para complementar el contenido práctico que se pone en práctica en la <em> escape room </em> . Para elaborar el test se puede usar cualquier tecnología de elaboración de cuestionarios, como por ejemplo RESCORM  [ <a href="https://docs.google.com/document/d/1it1LYHozJ5fpnBDZpTlXx7jXv7RGbUS4MEUpAgxuCSY/edit#heading=h.pryu1fmnx54l"> 5 </a> ].</li>
		</ul>
		<h4>Instrucciones </h4>
		<p>Antes de comenzar el desarrollo de la actividad, es importante presentar el juego a los alumnos. Primero, si no se ha hecho previamente, se debe especificar cómo se va a evaluar la actividad, en el caso de contar para nota. A continuación, es necesario presentar las reglas de la <em> escape room </em> . A los alumnos debe quedarles claro cuáles son los límites de la actividad, si pueden salir de la sala, si pueden hacer uso de sus dispositivos móviles, si pueden hablar con los demás equipos, etc. También se les debe explicar en este punto el mecanismo para solicitar pistas en caso de quedarse atascados.</p>
		<p>Tras las indicaciones generales a los alumnos, se realiza una introducción sobre lo que están a punto de experimentar, incorporándolos a la aventura. La introducción será aquello que proporcione un mayor nivel de motivación, generando expectación e involucrando al grupo. En este momento también se les puede facilitar la primera pista del juego que tendrán que usar para resolver el primer reto. La presentación de la introducción a los alumnos se puede llevar a cabo de distintas maneras. Lo más sencillo es que el profesor les plantee de forma oral a los alumnos el objetivo global de la <em> escape room, </em> contextualizándolos en la narrativa. Otra opción es redactar una pequeña historia y unas instrucciones y entregárselas a los alumnos en papel o en digital. Por último, una opción muy común en <em> escape rooms </em> de ocio es elaborar un video introductorio. Comúnmente éste consiste en un videomensaje en el que un personaje (ya sea el profesor o un “actor) apela a los alumnos para que le ayuden a resolver un misterio, crimen, enigma, etc. También se puede aproximar desde la perspectiva contraria, mostrando un video en el que el personaje ejerce un papel de villano que amenaza a los alumnos. Para conseguir escenarios más realistas se pueden intercalar o poner de fondo fragmentos de películas y series. En el <a href="https://docs.google.com/document/d/1it1LYHozJ5fpnBDZpTlXx7jXv7RGbUS4MEUpAgxuCSY/edit#heading=h.up404ixiqj29"> Anexo II </a> se pueden encontrar algunos ejemplos de videos introductorios. Para la elaboración de esta tarea, en la Universidad Politécnica de Madrid están a disposición del profesorado los platós SAGA [ <a href="https://docs.google.com/document/d/1it1LYHozJ5fpnBDZpTlXx7jXv7RGbUS4MEUpAgxuCSY/edit#heading=h.pryu1fmnx54l"> 6 </a> ] (Sistema Automatizado de Grabación Avanzada), que permiten la producción ágil de vídeos de alta calidad para MOOCs, videotutoriales, aula invertida, etc.</p>

		<h3 id="paso6">Paso 6: Probar la escape room </h3>
		<p>Detectar y arreglar los errores es crucial para el éxito de una <em> escape room </em> educativa, puesto que la presencia de un fallo podría tener consecuencias catastróficas. La confusión generada podría hacer pensar a los alumnos que el error es parte de la narrativa e impedir que progresen hacia los siguientes retos, arruinando la actividad si los profesores no lo detectan a tiempo e idean una solución improvisada. Primero es necesario probar los retos de forma individual, asegurando que tienen un resultado predecible y que la solución siempre es la misma independientemente del momento en el que se resuelva.</p>
		<p>El siguiente paso es una simulación completa de la <em> escape room </em> . Primero es conveniente que la realicen los propios diseñadores de la actividad, para pulir aquellos fallos que sean inmediatos. Además, es conveniente que al menos una persona ajena al proceso de diseño de la <em> escape room </em> trate de resolver la actividad completa. Además de descubrir fallos propiamente dichos, esto puede ser útil para descubrir problemas relativos a que no se entiendan bien las instrucciones o pistas recibidas, o al nivel de dificultad de los retos. Puede ser complicado encontrar voluntarios con los conocimientos necesarios para resolver la <em> escape room </em> . Éstos pueden ser, por ejemplo, alumnos de cursos anteriores o profesores de la asignatura que no se hayan involucrado en la actividad. En función de la retroalimentación recibida de estos voluntarios se debe corregir y refinar la <em> escape room </em> para que esté lo más pulida posible en el momento en el que la resuelvan los alumnos. También la opinión de éstos tras finalizar la actividad es útil de cara a mejorarla para los siguientes años.</p>

		<h3 id="paso7"> Paso 7: Elaborar una forma de evaluar la experiencia</h3>
		<p>Una de las dudas que surgen a la hora de realizar una actividad de este tipo es si de verdad sirven para que los alumnos aprendan. No existe mucha evidencia empírica de la efectividad instruccional de las <em> escape rooms </em> educativas, por eso es importante aprovechar cada actividad que se realiza para profundizar más en este tema.</p>
		<p>Existen varias maneras de evaluar si los alumnos han aprendido realizando la actividad. Una forma de hacerlo es mediante un grupo de control. Se puede ofrecer a un grupo de alumnos una <em> escape room </em> educativa y a otro grupo de alumnos una clase práctica convencional que cubra la misma parte del temario. A posteriori, ambos grupos se examinan del mismo contenido y se comparan las calificaciones.</p>
		<p>Como podría considerarse injusto ofrecerles la <em> escape room </em> sólo a un grupo de alumnos, otra alternativa para evaluar si éstos aprenden es mediante pre-test y post-test. Antes de realizar la actividad, a los alumnos se les realizan una serie de preguntas sobre los conceptos que se van a cubrir en la actividad (pre-test). Al finalizar, éstos realizan el mismo cuestionario o similar (post-test) y se compara la diferencia de calificaciones.</p>
		<p>Además, es importante conocer la opinión de los alumnos acerca de la actividad. No hay que perder de vista que el principal motivo por el cual se realiza la <em> escape room </em> es porque es una actividad más motivadora para los alumnos que una clase convencional. Si la opinión de estos es negativa, se malograría este objetivo. Al acabar la actividad se puede pasar una encuesta preguntándoles a los alumnos no sólo por su opinión general, sino por aspectos concretos de la <em> escape room </em> de cara a mejorar para los siguientes cursos. Algunos aspectos por los que se les puede inquirir son:</p>
		<ul>
		<li>Si la actividad ha sido <strong> divertida </strong></li>
		<li>Si les ha parecido demasiado <strong> difícil </strong></li>
		<li>Si se <strong> arrepienten </strong> de no haber estudiado más antes de la actividad</li>
		<li>Si han <strong> mejorado </strong> sus <strong> conocimientos </strong> y habilidades en la asignatura</li>
		<li>Si les ha parecido suficiente <strong> tiempo </strong></li>
		<li>Si les ha gustado más que otras actividades en el aula o <strong> clases prácticas </strong></li>
		<li>Si les ha parecido que estaba bien <strong> organizada </strong></li>
		<li>Si les ha parecido que las <strong> instrucciones </strong> eran claras</li>
		<li>Si les gustaría que realizaran actividades similares en <strong> otras asignaturas </strong></li>
		<li>Si les han gustado los tipos de <strong> retos </strong> escogidos</li>
		<li>Si les ha parecido correcta la forma de dar <strong> pistas </strong></li>
		</ul>
		<p>Por supuesto, es de gran utilidad dejar un espacio en la encuesta para quejas y sugerencias de los alumnos, ya que es la manera de la que disponen para dar retroalimentación personalizada.</p>
		<br/>
		<br/>
</div>
<% include partials/_footer %>