<% include partials/_header.ejs %>
<div class="main">
    <h2>Guía para crear una escape room</h2>
    <p class="intro-paragraph">¿Necesitas inspiración para crear los retos de tu escape room? <br>
        Puede que los recursos que se muestran a continuación te sirvan de inspiración</p>
    <pre>// TO-DO</pre>
</div>
<% include partials/__footer %>