<div class="main escapeRooms">
    <header class="" id="mainHeader">

        <div class="right">
            <% if (!session.user) { %>
            <a href="/">Login</a>
            <% } else { %>
            <%= session.user.username %>

            <% } %>
        </div>
        <div class="lseft">
            <% if (session.user) { %>
            <a href="/?_method=DELETE">Logout</a>
            <% } %>
        </div>
    </header>
    <div class="escapeRoomList">
        <% if (escapeRooms==0) { %>
        <h1>
            No has creado ninguna escape room, gestiónalas desde aquí...
        </h1>
        <% } else {  %>
        <h1>
            Gestiona las escape rooms desde aquí...
        </h1>

        <div class="flexBoxEscapeRooms">

            <% for (var i in escapeRooms) { %>
                <% var escapeRoom = escapeRooms[i]; %>
                <% var attachment = escapeRoom.attachment; %>
                <a href="/escapeRooms/<%= escapeRoom.id %>">
                    <div class="escapeRoomItem">
                    <button class="erFoto" style="text-align: center">
                        <% include ../attachments/_show %>
                        </br>
                        <span class="escapeRoomTitle"><%= escapeRoom.title %></span>
                    </div>
                </a>

            <% } %>
        <% } %>

        <a href="/escapeRooms/new"><div class="escapeRoomItem addEscapeRoom">+</button></a>
    </div>
    </br>
    <% include ../partials/__footer %>
</div>
