
<% include ../partials/_header.ejs %>
<div class="main student">
    <div class="dialog" >
        </br>
        ¿Quieres unirte a la Escape Room de <%= escapeRoom.title %>?
        </br>
        </br>
        <div class="join-button-flex-container">
            <div class="delete-button-container">
                <button class="deleteButton" style="display:inline-block;">NO</button>
            </div>
            <div style="accept-button-container">
                <form method='POST' id="form" action='/escapeRooms/<%= escapeRoom.id %>/join'  >
                <button class="acceptButton" type="submit" style="display:inline-block;">SI</button>
                </form>
            </div>
        </div>
    </div>  
</div>

