
<% include ../escapeRooms/_header.ejs %>
<div class="main student" style="font-size: xx-large; display: flex; justify-content: center; align-items: center;">
        <div style="background-color: #2A2A52; width: 50%; text-align: center" >
            </br>
            ¿Quieres unirte a la Escape Room de <%= escapeRoom.title %>?
            </br>
            </br>
            <div style="margin-bottom:50px; margin-left: 200px; float:left">
                <form method='GET' id="form" action='/users/<%= session.user.id %>/student'>
                <button class="deleteButton" type="submit" style="display:inline-block;">NO</button>
                </form>
            </div>
            <div style="margin-bottom:50px; margin-right:0px; margin-left:50px;float:left">
                <form method='POST' id="form" action='/escapeRooms/<%= escapeRoom.id %>/join'>
                <button class="aceptButton" type="submit" style="display:inline-block;">SI</button>
                </form>
            </div>
        </div>
</div>

