<% include _header.ejs %>   
<div class="main escapeRooms">
 
    <div class="escapeRoomList">
        <% if (escapeRooms==0) { %>
        <h1>
            No has creado ninguna escape room, gestiónalas desde aquí...
        </h1>
        <% } else {  %>
        <h1>
            Gestiona las escape rooms desde aquí...
        </h1>

        <div class="flexBoxEscapeRooms">

            <% for (var i in escapeRooms) { %>
                <% var escapeRoom = escapeRooms[i]; %>
                <% var attachment = escapeRoom.attachment; %>
                <a href="/escapeRooms/<%= escapeRoom.id %>">
                    <div class="escapeRoomItem">
                        <div class="erFoto" style="text-align: center">
                            <div class="bckgFoto" style="background-image: url(<% if (attachment) {%>attachment.secure_url<%} else {%>/images/placeholder.png<%}%>)"></div>
                            <div class="escapeRoomTitle"><%= escapeRoom.title %></div>
                        </div>
                    </div>
                </a>

            <% } %>
        <% } %>

        <a href="/escapeRooms/new"><div class="escapeRoomItem addEscapeRoom"><span>+</span></div></a>
    </div>
    </br>
    <% include ../partials/__footer %>
</div>
