
<header class="main" id="mainHeader">

    <div class="right">
        <% if (!session.user) { %>
            <a href="/">Login</a>
        <% } else { %>
            <a href="/users/<%= session.user.id %>"><%= session.user.username %></a>

        <% } %>
    </div>
    <div class="left">
        <% if (session.user) { %>
            <a href="/?_method=DELETE">Logout</a>
        <% } %>
    </div>
</header>
<% if (escapeRooms==0) { %>
    <h1>
        No has creado ninguna escape room, gestiónalas desde aquí...
    </h1>
<% } else {  %>
    <h1>
        Gestiona las escape rooms desde aquí...
    </h1>

    <table>
        <% for (var i in escapeRooms) { %>
            <% var escapeRoom = escapeRooms[i]; %>
            <td>
                <% var attachment = escapeRoom.attachment; %>
                <form action="/escapeRooms/<%= escapeRoom.id %>">
                    <button type="submit">
                        <% include ../attachments/_show %>
                        </br>
                        <%= escapeRoom.title %>
                    </button>
                </form>

            <% } %>
            </td>
    </table>
<% } %>

<a href="/escapeRooms/new"><button type="button">+</button></a>


