<% include _header.ejs %>
<div class="main">
  <h2>Retos</h2>
  <form method='POST' action='/escapeRooms/<%= escapeRoom.id %>/step3'  >
    <div class="align-right"><button type="submit">siguiente</button></div>
  </form>
</div>
<% include ../partials/__footer %>
<%- include('../partials/__progress', {progress: 3}) %>

