<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<% include _header.ejs %>
<div class="main step2">
	<h2>
	    Turnos
	</h2>
	<% var turnos = escapeRoom.turnos; %>
	<div class="contenedor" style="display: flex; height: 100%">
    <div class="turnosLeft" style="width: 50%; float: left">
        <div id="datepicker"></div>
    </div>
    <div class="loginRight" style=" width: 50%; float: left; flex: 1">
        <h2>
            <span id="currentDate"></span>
        </h2>
        <% include ../turnos/index %>

    </div>
</div>
	<div class="contenedor" style="display: flex; height: 100%">
	    <div class="turnosLeft" style="width: 50%; float: left">
	    </div>
	    <div class="loginRight" style=" width: 50%; float: left; flex: 1">

	    </div>
	</div>
	<form method='POST' id="form" action='/escapeRooms/<%= escapeRoom.id %>/step2'  >
		<div class="align-right">
			<a href="/escapeRooms/<%= escapeRoom.id %>"><button class="progress-buttons" type="button" value="exit" id="exit" name="exit">salir</button></a>
			<button class="progress-buttons" type="submit" value="previous" id="previous" name="previous">anterior</button>
		  	<button class="progress-buttons" type="submit" value="next" id="next" name="next">siguiente</button>
		</div>
	</form>
	<br/>
</div>
<% include ../partials/__footer %>
<%- include('../partials/__progress', {progress: 2}) %>
<script>
var selectedDates = [
<% for (var d = 0; d < turnos.length; d++) { %>
	new Date("<%= turnos[d].date%>") <%if (d !== turnos.length -1) {%>,<% }%>
<% } %>
].map(d=>{d.setHours(0,0,0,0); return d.getTime()}); 

</script>
<script type="text/javascript" src="/js/turnos.js"></script>
