<% include _header.ejs %>
<div class="main">
	<h2>
	    Turnos:
	</h2>
	<% include ../turnos/new %>
	<% var turnos = escapeRoom.turnos; %>

	<div class="contenedor" style="display: flex; height: 100%">
	    <div class="turnosLeft" style="width: 50%; float: left">
	    </div>
	    <div class="loginRight" style=" width: 50%; float: left; flex: 1">
	     <% include ../turnos/index %>
	    </div>
	</div>
	<a href="/escapeRooms/<%=escapeRoom.id%>/step3"><button>siguiente</button></a>
</div>
<% include ../partials/__footer %>
<%- include('../partials/__progress', {progress: 2}) %>
<script>
    $(function() {
        $('#datepicker').datepicker({
            onSelect: function(dateText) {
                $('#datepicker2').datepicker("setDate", $(this).datepicker("getDate"));
            }

        });
    });

    $(function() {
        $("#datepicker2").datepicker();
    });

</script>