<body class="login">
<div>
    <form method='POST' action='/escapeRooms/<%= escapeRoom.id %>/step2' enctype="multipart/form-data">
    <label for="img">Seleccione una apariencia:</label>
        </br>
        </br>
        <input class="buttonApp" type="image" id="img" name="appearance" value="tema01" src="/images/theme01.png" autocomplete="off"/>
        <input class="buttonApp" type="image" id="img" name="appearance" value="tema02" src="/images/theme02.png" autocomplete="off"/>
        <input class="buttonApp" type="image" id="img" name="appearance" value="tema03" src="/images/theme03.png" autocomplete="off"/>
        <input class="buttonApp" type="image" id="img" name="appearance" value="tema04" src="/images/theme04.png" autocomplete="off"/>
        <input class="buttonApp" type="image" id="img" name="appearance" value="tema05" src="/images/theme05.png" autocomplete="off"/>
        <input class="buttonApp" type="image" id="img" name="appearance" value="tema06" src="/images/theme06.png" autocomplete="off"/>
        </br>
        </br>
        <button type="submit">Siguiente</button>
    </form>
</div>

<footer>
    <img src="/images/logo.png" width="10%" style=" margin-top: 100px"/>
    <img src="/images/ESCUDO_UPM.png" width="5%" style=" margin-top: 100px; float: right"/>
</footer>
</body>