
<link rel="stylesheet" href="/stylesheets/vendor/quill.snow.css">
<script src="/js/vendor/quill.min.js"></script>
<script src="/js/vendor/image-resize.min.js"></script>
<!-- Theme included stylesheets -->
 <% include ../../partials/_header.ejs %>
<div class="main step-instructions">
  <h2>Instrucciones</h2>
    <p class="intro-paragraph">
        Escribe las instrucciones que se proporcionarán a los alumnos cuando entren a jugar a la escape room.
        Puedes incluir enlaces a otras páginas si es necesario.
    </p>

    <form method='POST' id="instructionsForm" action='/escapeRooms/<%= escapeRoom.id %>/instructions'  >
  	<div class="editor-wrapper animated zoomInUp">
        <div id="editor" class="" style="background-color: white;">
            <%if (escapeRoom.instructions) {%>
                <%- escapeRoom.instructions %>
            <%} else {%>
                <h1 class="ql-align-center">Bienvenido a la Escape Room</h1>
            <%}%>
  		</div>
  	</div>

      <div class="align-right flex-buttons">
          <input id="instructions" name="instructions" type="hidden" value=""/>
          <a href="/escapeRooms/<%= escapeRoom.id %>"><button class="progress-buttons" type="button" value="exit" id="exit" name="exit">salir</button></a>
        <button class="progress-buttons" type="submit" value="next" id="next" name="next">siguiente</button>
        <button class="progress-buttons" type="submit" value="previous" id="previous" name="previous">anterior</button>
    </div>
        <%- include('../../partials/_progress', {progress: 4}) %>

    </form>
</div>
<br/>
<br/>
<br/>
<% include ../../partials/_footer %>

<script src="/js/instructions.js">

</script>
