@import 'colors'
@import 'calendar'
@import 'mixins'

#mainSection
	#mainHeader
	.main
		.attachmentShow
			img
				max-width: 100%
				border: 2px solid white
		.align-right
			text-align: right
		.basicConfig, &.step5
			font-size: 26px
			text-align: center
			.erFormField
				padding: 40px
				text-align: left
				&:focus-within
					color: white !important
					label
						color: white
				.customInput
					border: none
					border-radius: 0px
					text-align: left
					margin-left: 26px
					width: 100%
					background-color: transparent
					color: #656683
					font-size: 0.8em
					height: 42px
					padding-top: 10px
					font-family: Lato, sans-serif
					font-weight: normal
					padding-left: 5px
					.fileUploadButton
						background-color: transparent
						color: white
						border: none
						padding: 0px
					#imgLabel
						font-size: 1em
						margin-top: 0.4em
						font-family: Lato, sans-serif
				input[type=file]
					font-family: Lato, sans-serif
					width: 0.1px
					height: 0.1px
					opacity: 0
					overflow: hidden
					position: absolute
					z-index: -1
				label.itemNarrow
					display: block
		.flexShow
			width: 100%
			.flexRow
				width: 100%
				display: flex
				flex-wrap: wrap
				flex-direction: row
				padding-bottom: 20px
				&:first-child
					font-size: 26px

				.flexShowLeft
					width: 250px
					line-height: 37px
				.flexShowRight
					width: 100%
					font-size: 24px
					flex: 1
					color: $textpurple
					font-family:  'Lato', sans-serif
					line-height: 32px
					img
						width: 250px
						border-radius:  5px
					#joinUrl
						height: 10px
						opacity: 0.01
						width: 10px
						padding: 2px
						margin: 0px
					.copy
						background: transparent
						border: none
						font-size: 16px
						color: white
						vertical-align: middle
		&.step1
			.half-flex-container
				display: flex
				flex-direction: row
				.left-half-flex
					width: 50%
					padding: 0px
					.buttonApp
						width: 40%
						margin: 2%
						margin-left: 0px
						border-radius: 5px
						border: 3px solid white
						cursor: pointer
						background-color: white
						@extend %scale-animation-down
						&.selected
							border-color: $brightyellow
				.right-half-flex
					width: 50%
					.preview
						width: 100%
						height: 100%
						#previewIframe
							width: 100%
							height: 94%
							overflow: auto
							border: 3px solid white
							border-radius: 20px
							margin-top: 20px
							margin-bottom: 3%
		&.step2
			position: relative
			.contenedor
				display: block !important
				h2
					color: $textpurple
				.flexBoxTurnos
					.turno
						&.add-turno
							.turnos-picker
								background: transparent
								padding: 0px
								margin: 0px
								text-align: center
								text-align-last: center
								width: 100%
								color: $textgrey
								border: none
								font-size: 1em
								caret-color: $textgrey
								color: $textgrey !important
								-webkit-text-fill-color: $textgrey !important
								&:focus, &:active, &:-webkit-autofill:focus, &:-webkit-autofill:active
									color: $textgrey !important
									-webkit-text-fill-color: $textgrey !important
								&:-webkit-autofill
									-webkit-box-shadow: 0 0 0 30px $mainpurple inset !important
									-webkit-text-fill-color: $textgrey !important
								&.turnos-time-picker
									width: 150%
									margin-top: -1em
									margin-bottom: -1em
									&::-webkit-clear-button, &::-ms-clear
										display: none
								&.turnos-indications-picker
									resize: none
									height: 40px
									outline: none !important
						.little-button
							padding: 3px
							padding-left: 4px
							font-size: 14px
							border: none
							float: right
							color: white
							border-radius: 50%
							line-height: 11px
							vertical-align: text-bottom
							margin-right: -15px
							position: absolute
							bottom: 0
							right: 10px
							.material-icons
								font-size: 16px
							&.more
								background: $brightyellow
							&.less
								background: $lightred

		&.step3
			.flex-table-retos
				display: flex
				flex-direction: column
				background-color: $textpurple
				border: 3px solid white
				border-radius: 10px
				overflow: hidden
				font-size: 18px
				.flex-row-retos
					display: flex
					flex-direction: row
					border-top: 3px solid white
					&.flex-row-retos-title
						background-color: $darkerpurple
						border-top: none
						.flex-cell
							font-family: 'Gugi', sans-serif !important
							padding: 20px
					.flex-cell
						text-align: center
						border-right: 3px solid white
						&.flex-cell-retos
							width: 20%
						&.flex-cell-sol
							width: 10%
							.retoTextArea
								&:empty:before
									content: 'xxxx'
						&.flex-cell-desc
							width: 30%
						&.flex-cell-pista								
							width: 40%
							border-right: none
						.retoTextArea
							padding: 20px
							font-family: 'Lato', sans-serif !important
							font-size: 16px
							width: 100%
							border: none
							margin: 0px
							background: transparent
							height: auto
							height: 100%
							resize: none
							outline: none
							display: inline-block
							&:empty:before
								content: 'Escribe aquí...'
								opacity: 0.5
								display: block
							&:focus:before
								content: '' !important
					.delete-reto
						position: absolute
						margin-left: -40px
						margin-top: 8px
						float: right
						background: transparent
						border: none
						color: white
						@extend %scale-animation-up

			#add-reto
				background: none
				border: none
				color: white
				font-size: 38px
				.material-icons
					font-size: 32px
				@extend %scale-animation-up
		&.step4
			#noHintsLabel
				font-family: 'Lato', sans-serif !important
				display: block
			#noHints
				vertical-align: middle
				margin-left: 10px
			#yourScorm
				color: $textpurple
				font-size: 18px
				display: block
				height: 0px
			.ui-dialog .ui-dialog-titlebar
				background: white !important
				border-color: white !important
				color: $lightred
			#dialog-rescorm
				padding: 0
				background-color: white
				#rescorm
					width: 100%
					border: none	
					margin: 0px	
					height: calc(100% - 16px)
		&.step5
			h2
				text-align: left
		.progress-buttons
			border-radius: 25px
			padding: 10px 20px
			&#exit
				border: 2px solid white
				background-color: transparent
				color: white
		.flexBoxTurnos
			display: flex
			flex-direction: row
			flex-wrap: wrap
			margin-bottom: 20px
			.turno
				background-color: white
				width: 100px
				height: 100px
				position: relative
				margin: 5px
				color: $darkerpurple
				text-align: center
				padding: 12px
				border-radius: 20px
				&.hidden
					display: none
				.hora
					font-size: 25px
					margin-bottom: 10px
					overflow: hidden
				.indications
					color: $darkerpurple
					font-size: 12px
					line-height: 100%
					.no-indications
						color: #ddd