@import 'colors'
@import 'calendar'
@import 'mixins'

#mainSection
	#mainHeader
	.main
		.attachmentShow
			img
				max-width: 100%
				border: 2px solid white
		.align-right
			text-align: right
		.basicConfig, &.step-evaluation
			font-size: 26px
			text-align: center
			.erFormField
				padding: 40px
				text-align: left
				&:focus-within
					color: white !important
					label, .explanation
						color: white
				.customCheckbox
					vertical-align: middle
					width: 20px
					border: 0px
					background: white
				.customInput
					border: none
					border-radius: 0px
					text-align: left
					margin-left: 26px
					width: 100%
					background-color: transparent
					color: #656683
					font-size: 0.8em
					height: 42px
					padding-top: 10px
					font-family: Lato, sans-serif
					font-weight: normal
					padding-left: 5px
					.fileUploadButton
						background-color: transparent
						color: white
						border: none
						padding: 0px
					#imgLabel, #hintsLabel
						font-size: 1em
						margin-top: 0.4em
						font-family: Lato, sans-serif
				input[type=file]
					font-family: Lato, sans-serif
					width: 0.1px
					height: 0.1px
					opacity: 0
					overflow: hidden
					position: absolute
					z-index: -1
				label.itemNarrow
					display: block
				.explanation
					color: $textpurple
					font-size: 0.6em
					padding-left: 30px
					font-family: 'Lato', sans-serif
		.intro-paragraph
			font-family: 'Lato', sans-serif
			text-align: left
			a
				font-family: inherit
		.flexShow
			width: 100%
			.flexRow
				width: 100%
				display: flex
				flex-wrap: wrap
				flex-direction: row
				padding-bottom: 20px
				&:first-child
					font-size: 26px
				.flexShowLeft
					width: 250px
					line-height: 37px
				.flexShowRight
					width: 100%
					font-size: 24px
					flex: 1
					color: $textpurple
					font-family:  'Lato', sans-serif
					line-height: 32px
					word-break: break-word
					&.instructionsPreview
						font-family: 'Lato', sans-serif
						*
							font-family: inherit
					.show_link
						font-family: inherit
					em
						font-family: inherit
						opacity: 0.3
					img
						width: 250px
						border-radius:  5px
					#joinUrl
						height: 10px
						opacity: 0.01
						width: 10px
						padding: 2px
						margin: 0px
					.copy
						background: transparent
						border: none
						font-size: 16px
						color: white
						vertical-align: middle
		&.step-appearance
			.half-flex-container
				display: flex
				flex-direction: row
				text-align: center
				h2
					text-align: left
				.left-half-flex
					width: 50%
					padding: 0px
					.buttonApp
						width: 40%
						margin: 2%
						margin-left: 0px
						border-radius: 5px
						border: 3px solid white
						cursor: pointer
						background-color: white
						@extend %scale-animation-down
						&.selected
							border-color: $brightyellow
				.right-half-flex
					width: 50%
					height: 60vh
					.preview
						width: 100%
						height: 100%
						#previewIframe
							width: 100%
							height: 94%
							overflow: auto
							border: 3px solid white
							border-radius: 20px
							margin-top: 10px
							margin-bottom: 3%
		&.step-turnos
			position: relative
			.contenedor
				display: flex
				height: 100%
				h2
					color: $textpurple
				.turnosLeft
					width: 50%
				.turnosRight
					width: 50%
					.flexBoxTurnos
						.turno
							&.add-turno
								.turnos-picker
									background: transparent
									padding: 0px
									margin: 0px
									text-align: center
									text-align-last: center
									width: 100%
									color: $textgrey
									border: none
									font-size: 1em
									caret-color: $textgrey
									color: $textgrey !important
									-webkit-text-fill-color: $textgrey !important
									&:focus, &:active, &:-webkit-autofill:focus, &:-webkit-autofill:active
										color: $textgrey !important
										-webkit-text-fill-color: $textgrey !important
									&:-webkit-autofill
										-webkit-box-shadow: 0 0 0 30px $mainpurple inset !important
										-webkit-text-fill-color: $textgrey !important
									&.turnos-time-picker
										width: 150%
										margin-top: -1em
										margin-bottom: -1em
										&::-webkit-clear-button, &::-ms-clear
											display: none
									&.turnos-indications-picker
										resize: none
										height: 40px
										outline: none !important
							.little-button
								padding: 3px
								padding-left: 4px
								font-size: 14px
								border: none
								float: right
								color: white
								border-radius: 50%
								line-height: 11px
								vertical-align: text-bottom
								margin-right: -15px
								position: absolute
								bottom: 0
								right: 10px
								.material-icons
									font-size: 16px
								&.more
									background: $brightyellow
								&.less
									background: $lightred

		&.step-puzzles, .previewPuzzles
			.flex-table-retos-wrapper
				position: relative
				overflow: visible
				.flex-table-retos
					display: flex
					flex-direction: column
					background-color: $purpleedit
					color: $darkerpurple
					border: 3px solid white
					border-radius: 10px
					overflow: visible
					font-size: 18px
					word-break: break-word
					.flex-row-retos
						display: flex
						flex-direction: row
						border-top: 3px solid white
						&.flex-row-retos-title
							background-color: $darkerpurple
							color: white
							border-top: none
							.flex-cell
								font-family: 'Gugi', sans-serif !important
								padding: 20px
						.flex-cell
							text-align: center
							border-right: 3px solid white
							&.flex-cell-retos
								width: 15%
							&.flex-cell-sol
								width: 15%
								.retoTextArea
									&:empty:before
										content: 'xxxx'
							&.flex-cell-desc
								width: 30%
							&.flex-cell-pista
								width: 40%
								border-right: none
							.retoTextArea
								padding: 20px
								font-family: 'Lato', sans-serif !important
								font-size: 16px
								width: 100%
								border: none
								margin: 0
								background: transparent
								height: 100%
								resize: none
								outline: none
								display: inline-block
								&.retoEditable, &[contenteditable]
									background-color:  $textpurple
									color: $purpleedit
								.no-pistas
									cursor: not-allowed
									font-style: italic
								&:empty:before
									content: 'Escribe aquí...'
									opacity: 0.5
									display: block
								&:focus:before
									content: '' !important

								&.hints-cell
									&.hints-cell-preview
										background-color:  inherit
									padding: 0
									background-color:  $textpurple
									*:not(.material-icons)
										font-family: inherit
									.hint-text-preview
										text-align: left
									.no-pistas-preview
										padding: 0px
										font-style: italic
									.edit-hints
										padding: 0
										list-style: none
										margin: 0px

										.hint-li
											padding: 0px
											background-color: $purpleedit
											border-bottom: 3px solid white
											display: flex
											&.editable
												background-color:  $textpurple
												color: $purpleedit
											&.no-pistas
												font-style: italic
												padding: 6px
												line-height: 25px
												justify-content: center
											.hint-text-preview
												padding: 5px
											form
												&.formLeft
													display: flex
													flex: 1
													align-items: flex-start
												span
													flex: 1
													padding: 6px
													line-height: 25px
													margin-left: 50px
											.button-hint
												border: none
												background: transparent
												padding: 6px
												color: white
												@extend %scale-animation-up
											.hidden
												display: none
											.hiddenInputPistaEdit
												flex: 1
												border: none
												background: transparent
												font-size: 16px
												-webkit-text-fill-color: $purpleedit !important
												&:focus, &:active
													color: white
													-webkit-text-fill-color: white !important
									.add-new-hint
										background-color:  $textpurple
										color: $darkerpurple
										//min-height: 59px
										form
											display: flex
											input
												flex: 1
												font-style: inherit
												font-family: inherit
												font-size: inherit
												margin-left: 25px
												border: none
												background-color:  $textpurple
												color: $darkerpurple
												height: 36px
												min-width: 0px
												-webkit-text-fill-color: $purpleedit !important
												&:-webkit-autofill
												    -webkit-box-shadow: 0 0 0 30px  $textpurple inset !important
												    -webkit-text-fill-color: $purpleedit !important
												color: $purpleedit
												&:focus, &:active
													color: white
													-webkit-text-fill-color: white !important
												&::placeholder
													content: 'Escribe aquí...'
													opacity: 0.5
													display: block
									.add-hint
										font-style: inherit
										font-family: inherit
										font-size: inherit
										border: none
										color: white
										margin-left: -5px
										padding: 6px
										vertical-align: bottom
										background-color: transparent
										&:hover i
											@extend %scale-animation-up
					.operations-reto
						position: absolute
						left: 0
						margin-left: -65px
						margin-top: 8px
						width: 62px
						text-align: right
						form
							display: inline-block
							.delete-reto
								background: transparent
								border: none
								color: white
								padding: 2px
								@extend %scale-animation-up
								&.hidden
									display: none
			#add-reto
				background: none
				border: none
				color: white
				font-size: 38px
				.material-icons
					font-size: 32px
				@extend %scale-animation-up
		&.step-hints
			#noHintsLabel
				font-family: 'Lato', sans-serif !important
				display: block
			#noHints
				vertical-align: middle
				margin-left: 10px
			#yourScorm
				color: $textpurple
				font-size: 18px
				display: block
				height: 0px
			.ui-dialog .ui-dialog-titlebar
				background: white !important
				border-color: white !important
				color: $lightred
			#dialog-rescorm
				padding: 0
				background-color: white
				#rescorm
					width: 100%
					border: none	
					margin: 0px	
					height: calc(100% - 16px)
		&.step-evaluation
			h2
				text-align: left
		&.step-instructions
			.editor-wrapper
				background-color: white
				margin-bottom: 20px
				color: black
				#editor
					min-height: 300px
					&.ql-container
						font-size: 18px
					*
						font-family: 'Lato'
					.ql-active, .ql-snow.ql-toolbar button:hover
						color: $lightred
						*
							stroke: $lightred
		.progress-buttons
			border-radius: 25px
			padding: 10px 20px
			&#exit
				border: 2px solid white
				background-color: transparent
				color: white
		.flexBoxTurnos
			display: flex
			flex-direction: row
			flex-wrap: wrap
			margin-bottom: 20px
			.turno
				background-color: white
				border: 3px solid transparent
				width: 100px
				height: 100px
				position: relative
				margin: 5px
				color: $darkerpurple
				text-align: center
				padding: 12px
				border-radius: 20px
				&.selected
					border: 3px solid $brightyellow
				&.turnoAlumno
					&:hover
						@extend %scale-animation-down
				&.hidden
					display: none
				.hora
					font-size: 25px
					margin-bottom: 10px
					overflow: hidden
				.indications
					color: $darkerpurple
					font-size: 12px
					line-height: 100%
					.no-indications
						color: #ddd
@media (max-width: 992px)
	.half-flex-container
		flex-wrap: wrap
		.left-half-flex, .right-half-flex
			width: 100% !important
	.contenedor
		flex-wrap: wrap
		.turnosLeft
			width: 100% !important
		.turnosRight
			width: 100% !important
@media (max-width: 500px)
	.ui-datepicker-inline.ui-datepicker
    	width: 83vw !important
    	padding-left: 10px !important
    	padding-right: 10px !important 
@media (max-width: 700px)
	#mainSection
		.main
			.flexShow
				.flexRow
					flex-wrap: wrap
					.flexShowLeft
						width: 100%
					.flexShowRight
						width: 100%