#mainSection
	min-height: 100%
	position: relative
	.main
		font-size: 22px 
		min-height: calc(100vh - 0em)
		color: white
		height: 100%
		background-image: url("../images/background.png")
		background-size: cover
		height: 100%
		padding: 15px
		position: relative
		header
			height: auto
			.wideRow
				margin-bottom: 5px
				&:focus-within
				label
		   			color: white