=scale($size) 
  -webkit-transform: scale($size)
  -ms-transform: scale($size)
  transform: scale($size)


%scale-animation-up 
	transition: 0.2s all ease-in
	&:hover, &:active, &:focus
		+scale(1.2)


%scale-animation-down 
	transition: 0.2s all ease-in
	&:hover, &:active, &:focus
		+scale(0.8)
