@font-face {
    font-family: 'Digital';
    src: url('/fonts/ds-digib.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

h1 {
    font-size: 4em;
}

.previewContainer {
    text-align: center;
    padding: 20px;
}
p {
    text-align: left;
}
.countdown, #explosion {
    font-family: 'Digital';
    font-size: 20vw;
}

.previewImage img {
    max-width: 40%;
}

.row-centered {
    text-align: center;
    justify-content: center;
}