.showStudent
	.flex
		display: flex
		.flex-thumb
			width: 25%
			position: relative
			img
				width: 100%
			padding-top: 40px
		.flex-er-info
			flex: 1
			padding: 15px
			*:not(h2)
				font-family: Lato
			*:not(b)
				font-weight: normal
	.desc
		font-family: Lato
	.status
		text-align: center