@charset "UTF-8";
#mainSection {
  min-height: 100%;
  position: relative; }
  #mainSection #mainHeader {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161938;
    width: 100%;
    z-index: 1;
    position: absolute; }
    #mainSection #mainHeader .left, #mainSection #mainHeader .right {
      padding: 10px;
      color: white; }
    #mainSection #mainHeader .wideRow {
      margin-bottom: 5px; }
      #mainSection #mainHeader .wideRow label {
        color: white; }
  #mainSection .main {
    font-size: 22px;
    min-height: calc(100vh - 0em);
    color: white;
    height: 100%;
    background-image: url("../images/background.png");
    background-size: contain;
    height: 100%;
    padding: 35px;
    padding-top: 70px !important;
    position: relative; }
    #mainSection .main.no-bckg {
      background: none; }
    #mainSection .main footer {
      margin-left: -35px; }
    #mainSection .main .menuERShow {
      display: flex;
      justify-content: space-between; }
      #mainSection .main .menuERShow .attachmentShow {
        text-align: center;
        max-width: 60%; }
      #mainSection .main .menuERShow .menuERShowRight {
        margin-left: 50px;
        padding: 10px;
        border-left: 2px solid white; }
        #mainSection .main .menuERShow .menuERShowRight .menuERactionList {
          list-style: none;
          font-size: 16px; }
          #mainSection .main .menuERShow .menuERShowRight .menuERactionList li {
            margin-bottom: 16px; }
            #mainSection .main .menuERShow .menuERShowRight .menuERactionList li a {
              line-height: 24px; }
              #mainSection .main .menuERShow .menuERShowRight .menuERactionList li a:hover {
                color: #48C18E; }
            #mainSection .main .menuERShow .menuERShowRight .menuERactionList li .showMenuButton {
              font-size: 16px;
              border-radius: 20px;
              padding: 5px 20px;
              width: 100%;
              transition: 0.1s all ease-in; }
              #mainSection .main .menuERShow .menuERShowRight .menuERactionList li .showMenuButton:hover {
                transform: scale(0.9); }
    #mainSection .main .turno-date-title-show {
      color: white;
      margin: 5px; }
    #mainSection .main #dialog-preview-video {
      padding: 0;
      background-color: white;
      outline: none;
      border: none; }
      #mainSection .main #dialog-preview-video #previewVideoContent {
        padding: 10px; }
    #mainSection .main .ui-dialog {
      outline: none !important; }
    #mainSection .main .ui-dialog-title {
      line-height: 50px;
      padding-left: 10px; }
    #mainSection .main .ui-dialog-titlebar-close {
      visibility: hidden;
      float: right;
      width: 50px; }
    #mainSection .main .ui-button-icon-space {
      visibility: visible; }
      #mainSection .main .ui-button-icon-space:after {
        content: '\e5cd';
        font-family: 'Material Icons'; }
    #mainSection .main .ui-dialog .ui-dialog-titlebar {
      background: white !important;
      border-color: white !important;
      color: #F47E84; }

@media (min-width: 1200px) {
  #mainSection .main {
    padding: 35px calc(50vw - 600px); }
    #mainSection .main footer {
      margin-left: calc(600px - 50vw); } }

@media (max-width: 1200px) {
  #mainSection .main .menuERShow {
    flex-wrap: wrap;
    flex: 1; }
    #mainSection .main .menuERShow .attachmentShow {
      width: 100%;
      max-width: 100%; }
    #mainSection .main .menuERShow .menuERShowRight {
      width: 100%;
      margin-left: 0px;
      border-left: none; }
      #mainSection .main .menuERShow .menuERShowRight .menuERactionList {
        padding: 0px; } }

button {
  background-color: white;
  color: #161938;
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  padding: 10px;
  text-align: center;
  outline: 0;
  cursor: pointer; }
  button.login {
    background-color: #48C18E;
    color: #161938;
    border: #48C18E;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
    width: 100%;
    height: 42px;
    outline: 0; }
  button.registro {
    background-color: #FAC855;
    color: #161938;
    border: #FAC855;
    border-radius: 20px;
    text-align: center;
    font-size: medium;
    width: 100%;
    height: 42px;
    outline: 0; }
  button.editButton {
    background-color: #FAC855;
    color: #161938;
    font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
    border-radius: 5px;
    border-color: #FAC855;
    border-style: solid;
    padding: 10px;
    text-align: center;
    outline: 0; }
  button.deleteButton {
    background-color: #F47E84;
    color: #161938;
    font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
    border-radius: 5px;
    border-color: #F47E84;
    border-style: solid;
    padding: 10px;
    text-align: center;
    outline: 0; }
  button.acceptButton {
    background-color: #48C18E;
    color: #161938;
    font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
    border-radius: 5px;
    border-color: #48C18E;
    border-style: solid;
    padding: 10px;
    text-align: center;
    outline: 0; }
  button[type=submit] {
    cursor: pointer; }

@font-face {
  font-family: "Gugi";
  src: url("../fonts/Gugi-Regular.eot?") format("eot"), url("../fonts/Gugi-Regular.woff2") format("woff2"), url("../fonts/Gugi-Regular.woff") format("woff"), url("../fonts/Gugi-Regular.ttf") format("truetype"), url("../fonts/Gugi-Regular.svg#Gugi-Regular") format("svg"); }

.portada + #mainHeader {
  position: absolute;
  padding: 15px;
  display: block;
  width: 100%;
  background-color: transparent !important;
  top: 0px;
  height: auto !important; }

.portada {
  flex: 1 100%;
  height: 100%;
  background-color: #232951;
  font: 18px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white; }
  .portada .contenedor {
    display: flex;
    min-height: 100%; }
    .portada .contenedor .loginLeft {
      background-color: #161938;
      width: 50%;
      text-align: center;
      flex: 7;
      padding: 30px;
      display: flex;
      height: 100vh;
      justify-content: center; }
      .portada .contenedor .loginLeft #imagenPortada {
        max-height: 90%;
        width: auto;
        max-width: 85%;
        align-self: center; }
    .portada .contenedor .loginRight {
      color: white;
      background-color: #232951;
      text-align: center;
      width: 50%;
      flex: 3;
      padding: 3em; }
      .portada .contenedor .loginRight h1 {
        text-align: left; }
      .portada .contenedor .loginRight input, .portada .contenedor .loginRight select {
        width: 100%;
        text-align-last: center;
        padding: 0px 15px; }
      .portada .contenedor .loginRight label span {
        padding-bottom: 7px;
        text-align: left;
        display: block; }
      .portada .contenedor .loginRight label:focus-within {
        color: white; }
      .portada .contenedor .loginRight .loginWelcomeMessage {
        color: #656683;
        text-align: left;
        padding-top: 15px; }
    .portada .contenedor #imagenPortada {
      width: auto; }

.escapeRooms .flexBoxEscapeRooms {
  display: flex;
  justify-content: space-around;
  -webkit-flex-flow: row;
  flex-wrap: wrap; }
  .escapeRooms .flexBoxEscapeRooms:after {
    content: "";
    flex: 1; }
  .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper {
    width: 20%;
    padding: 10px;
    height: auto; }
    .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper:before {
      content: '';
      float: left;
      padding-top: 100%; }
    .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper .escapeRoomItem {
      background: white;
      color: black;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      border-radius: 10px;
      padding: 1vw; }
      .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper .escapeRoomItem .erFoto {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 auto; }
        .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper .escapeRoomItem .erFoto .bckgFoto {
          flex: 1;
          background-position: center;
          background-size: cover; }
        .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper .escapeRoomItem .erFoto .escapeRoomTitle {
          white-space: nowrap;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
          padding-top: 5px; }
      .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper .escapeRoomItem.addEscapeRoom {
        background-color: #9196A9;
        color: #D2D4DC;
        font-size: 100px;
        padding: 10px 20px;
        border-width: 5px;
        border-style: solid;
        border-color: #D2D4DC;
        outline: 0;
        display: flex;
        flex-direction: column;
        justify-content: center; }

@media (max-width: 1200px) {
  .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper {
    width: 25%; } }

@media (max-width: 992px) {
  .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper {
    width: 33.33%; } }

@media (max-width: 576px) {
  .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper {
    width: 50%; } }

.main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker {
  width: 20em;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 25px;
  padding-top: 25px;
  border-radius: 20px;
  line-height: 30px; }
  .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker th {
    color: #333; }
  .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker th:nth-child(6), .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker th:nth-child(7) {
    color: #F47E84; }
  .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker * {
    font-family: 'Lato', font-family;
    font-size: 16px; }
  .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker td, .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker a {
    color: #92A3AB;
    text-align: center;
    font-weight: bold; }
    .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker td.turn-day-highlight .ui-state-default, .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker a.turn-day-highlight .ui-state-default {
      color: blue;
      background-color: #FAC855;
      border-radius: 50%;
      color: black; }
  .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker .ui-datepicker-header.ui-widget-header {
    background-color: white;
    border-color: white; }
  .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker .ui-datepicker-header .ui-datepicker-title span {
    font-size: 20px; }
  .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker .ui-state-default {
    background-color: transparent;
    border-color: transparent; }
  .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker .ui-state-highlight:not(.ui-state-active) {
    color: #F47E84; }
  .main.step-turnos #datepicker .ui-datepicker-inline.ui-datepicker .ui-state-active {
    background-color: #48C18E !important;
    border-radius: 50%;
    color: black; }

#mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li .button-hint, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-hint:hover i, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .operations-reto form .delete-reto, #mainSection .main.step-puzzles #add-reto {
  transition: 0.2s all ease-in; }
  #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li .button-hint:hover, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-hint:hover i:hover, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .operations-reto form .delete-reto:hover, #mainSection .main.step-puzzles #add-reto:hover, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li .button-hint:active, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-hint:hover i:active, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .operations-reto form .delete-reto:active, #mainSection .main.step-puzzles #add-reto:active, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li .button-hint:focus, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-hint:hover i:focus, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .operations-reto form .delete-reto:focus, #mainSection .main.step-puzzles #add-reto:focus {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }

.escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper .escapeRoomItem, .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper .escapeRoomItem.addEscapeRoom, #mainSection .main.step-appearance .half-flex-container .left-half-flex .buttonApp, #mainSection .main .flexBoxTurnos .turno.turnoAlumno:hover {
  transition: 0.2s all ease-in; }
  .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper .escapeRoomItem:hover, #mainSection .main.step-appearance .half-flex-container .left-half-flex .buttonApp:hover, #mainSection .main .flexBoxTurnos .turno.turnoAlumno:hover, .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper .escapeRoomItem:active, #mainSection .main.step-appearance .half-flex-container .left-half-flex .buttonApp:active, #mainSection .main .flexBoxTurnos .turno.turnoAlumno:active:hover, .escapeRooms .flexBoxEscapeRooms .escapeRoomItemWrapper .escapeRoomItem:focus, #mainSection .main.step-appearance .half-flex-container .left-half-flex .buttonApp:focus, #mainSection .main .flexBoxTurnos .turno.turnoAlumno:focus:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }

#mainSection .main .attachmentShow img {
  max-width: 100%;
  border: 2px solid white; }

#mainSection .main .align-right {
  text-align: right; }

#mainSection .main .basicConfig, #mainSection .main.step-evaluation {
  font-size: 26px;
  text-align: center; }
  #mainSection .main .basicConfig .erFormField, #mainSection .main.step-evaluation .erFormField {
    padding: 40px;
    text-align: left; }
    #mainSection .main .basicConfig .erFormField:focus-within, #mainSection .main.step-evaluation .erFormField:focus-within {
      color: white !important; }
      #mainSection .main .basicConfig .erFormField:focus-within label, #mainSection .main.step-evaluation .erFormField:focus-within label {
        color: white; }
    #mainSection .main .basicConfig .erFormField .customInput, #mainSection .main.step-evaluation .erFormField .customInput {
      border: none;
      border-radius: 0px;
      text-align: left;
      margin-left: 26px;
      width: 100%;
      background-color: transparent;
      color: #656683;
      font-size: 0.8em;
      height: 42px;
      padding-top: 10px;
      font-family: Lato, sans-serif;
      font-weight: normal;
      padding-left: 5px; }
      #mainSection .main .basicConfig .erFormField .customInput .fileUploadButton, #mainSection .main.step-evaluation .erFormField .customInput .fileUploadButton {
        background-color: transparent;
        color: white;
        border: none;
        padding: 0px; }
      #mainSection .main .basicConfig .erFormField .customInput #imgLabel, #mainSection .main.step-evaluation .erFormField .customInput #imgLabel {
        font-size: 1em;
        margin-top: 0.4em;
        font-family: Lato, sans-serif; }
    #mainSection .main .basicConfig .erFormField input[type=file], #mainSection .main.step-evaluation .erFormField input[type=file] {
      font-family: Lato, sans-serif;
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    #mainSection .main .basicConfig .erFormField label.itemNarrow, #mainSection .main.step-evaluation .erFormField label.itemNarrow {
      display: block; }

#mainSection .main .flexShow {
  width: 100%; }
  #mainSection .main .flexShow .flexRow {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 20px; }
    #mainSection .main .flexShow .flexRow:first-child {
      font-size: 26px; }
    #mainSection .main .flexShow .flexRow .flexShowLeft {
      width: 250px;
      line-height: 37px; }
    #mainSection .main .flexShow .flexRow .flexShowRight {
      width: 100%;
      font-size: 24px;
      flex: 1;
      color: #656683;
      font-family: 'Lato', sans-serif;
      line-height: 32px;
      word-break: break-word; }
      #mainSection .main .flexShow .flexRow .flexShowRight .show_link {
        font-family: inherit; }
      #mainSection .main .flexShow .flexRow .flexShowRight em {
        font-family: inherit;
        opacity: 0.3; }
      #mainSection .main .flexShow .flexRow .flexShowRight img {
        width: 250px;
        border-radius: 5px; }
      #mainSection .main .flexShow .flexRow .flexShowRight #joinUrl {
        height: 10px;
        opacity: 0.01;
        width: 10px;
        padding: 2px;
        margin: 0px; }
      #mainSection .main .flexShow .flexRow .flexShowRight .copy {
        background: transparent;
        border: none;
        font-size: 16px;
        color: white;
        vertical-align: middle; }

#mainSection .main.step-appearance .half-flex-container {
  display: flex;
  flex-direction: row;
  text-align: center; }
  #mainSection .main.step-appearance .half-flex-container h2 {
    text-align: left; }
  #mainSection .main.step-appearance .half-flex-container .left-half-flex {
    width: 50%;
    padding: 0px; }
    #mainSection .main.step-appearance .half-flex-container .left-half-flex .buttonApp {
      width: 40%;
      margin: 2%;
      margin-left: 0px;
      border-radius: 5px;
      border: 3px solid white;
      cursor: pointer;
      background-color: white; }
      #mainSection .main.step-appearance .half-flex-container .left-half-flex .buttonApp.selected {
        border-color: #FAC855; }
  #mainSection .main.step-appearance .half-flex-container .right-half-flex {
    width: 50%;
    height: 60vh; }
    #mainSection .main.step-appearance .half-flex-container .right-half-flex .preview {
      width: 100%;
      height: 100%; }
      #mainSection .main.step-appearance .half-flex-container .right-half-flex .preview #previewIframe {
        width: 100%;
        height: 94%;
        overflow: auto;
        border: 3px solid white;
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 3%; }

#mainSection .main.step-turnos {
  position: relative; }
  #mainSection .main.step-turnos .contenedor {
    display: flex;
    height: 100%; }
    #mainSection .main.step-turnos .contenedor h2 {
      color: #656683; }
    #mainSection .main.step-turnos .contenedor .turnosLeft {
      width: 50%; }
    #mainSection .main.step-turnos .contenedor .turnosRight {
      width: 50%; }
      #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno.add-turno .turnos-picker {
        background: transparent;
        padding: 0px;
        margin: 0px;
        text-align: center;
        text-align-last: center;
        width: 100%;
        color: #a1a3af;
        border: none;
        font-size: 1em;
        caret-color: #a1a3af;
        color: #a1a3af !important;
        -webkit-text-fill-color: #a1a3af !important; }
        #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno.add-turno .turnos-picker:focus, #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno.add-turno .turnos-picker:active, #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno.add-turno .turnos-picker:-webkit-autofill:focus, #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno.add-turno .turnos-picker:-webkit-autofill:active {
          color: #a1a3af !important;
          -webkit-text-fill-color: #a1a3af !important; }
        #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno.add-turno .turnos-picker:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px #232951 inset !important;
          -webkit-text-fill-color: #a1a3af !important; }
        #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno.add-turno .turnos-picker.turnos-time-picker {
          width: 150%;
          margin-top: -1em;
          margin-bottom: -1em; }
          #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno.add-turno .turnos-picker.turnos-time-picker::-webkit-clear-button, #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno.add-turno .turnos-picker.turnos-time-picker::-ms-clear {
            display: none; }
        #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno.add-turno .turnos-picker.turnos-indications-picker {
          resize: none;
          height: 40px;
          outline: none !important; }
      #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno .little-button {
        padding: 3px;
        padding-left: 4px;
        font-size: 14px;
        border: none;
        float: right;
        color: white;
        border-radius: 50%;
        line-height: 11px;
        vertical-align: text-bottom;
        margin-right: -15px;
        position: absolute;
        bottom: 0;
        right: 10px; }
        #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno .little-button .material-icons {
          font-size: 16px; }
        #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno .little-button.more {
          background: #FAC855; }
        #mainSection .main.step-turnos .contenedor .turnosRight .flexBoxTurnos .turno .little-button.less {
          background: #F47E84; }

#mainSection .main.step-puzzles .flex-table-retos-wrapper {
  position: relative;
  overflow: visible; }
  #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos {
    display: flex;
    flex-direction: column;
    background-color: #9091A6;
    color: #161938;
    border: 3px solid white;
    border-radius: 10px;
    overflow: visible;
    font-size: 18px;
    word-break: break-word; }
    #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos {
      display: flex;
      flex-direction: row;
      border-top: 3px solid white; }
      #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos.flex-row-retos-title {
        background-color: #161938;
        color: white;
        border-top: none; }
        #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos.flex-row-retos-title .flex-cell {
          font-family: 'Gugi', sans-serif !important;
          padding: 20px; }
      #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell {
        text-align: center;
        border-right: 3px solid white; }
        #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell.flex-cell-retos {
          width: 15%; }
        #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell.flex-cell-sol {
          width: 15%; }
          #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell.flex-cell-sol .retoTextArea:empty:before {
            content: 'xxxx'; }
        #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell.flex-cell-desc {
          width: 30%; }
        #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell.flex-cell-pista {
          width: 40%;
          border-right: none; }
        #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea {
          padding: 20px;
          font-family: 'Lato', sans-serif !important;
          font-size: 16px;
          width: 100%;
          border: none;
          margin: 0;
          background: transparent;
          height: 100%;
          resize: none;
          outline: none;
          display: inline-block; }
          #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.retoEditable, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea[contenteditable] {
            background-color: #656683;
            color: #9091A6; }
            #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.retoEditable.no-pistas, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea[contenteditable].no-pistas {
              cursor: not-allowed;
              font-style: italic; }
          #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea:empty:before {
            content: 'Escribe aquí...';
            opacity: 0.5;
            display: block; }
          #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea:focus:before {
            content: '' !important; }
          #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell {
            padding: 0;
            background-color: #656683; }
            #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell *:not(.material-icons) {
              font-family: inherit; }
            #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints {
              padding: 0;
              list-style: none;
              margin: 0px; }
              #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li {
                padding: 0px;
                background-color: #9091A6;
                border-bottom: 3px solid white;
                display: flex; }
                #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li.editable {
                  background-color: #656683;
                  color: #9091A6; }
                #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li.no-pistas {
                  font-style: italic;
                  padding: 6px;
                  line-height: 25px;
                  justify-content: center; }
                #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li form.formLeft {
                  display: flex;
                  flex: 1;
                  align-items: flex-start; }
                #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li form span {
                  flex: 1;
                  padding: 6px;
                  line-height: 25px;
                  margin-left: 50px; }
                #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li .button-hint {
                  border: none;
                  background: transparent;
                  padding: 6px;
                  color: white; }
                #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li .hidden {
                  display: none; }
                #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li .hiddenInputPistaEdit {
                  flex: 1;
                  border: none;
                  background: transparent;
                  font-size: 16px;
                  -webkit-text-fill-color: #9091A6 !important; }
                  #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li .hiddenInputPistaEdit:focus, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .edit-hints li .hiddenInputPistaEdit:active {
                    color: white;
                    -webkit-text-fill-color: white !important; }
            #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-new-hint {
              background-color: #656683;
              color: #161938; }
              #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-new-hint form {
                display: flex; }
                #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-new-hint form input {
                  flex: 1;
                  font-style: inherit;
                  font-family: inherit;
                  font-size: inherit;
                  margin-left: 25px;
                  border: none;
                  background-color: #656683;
                  color: #161938;
                  height: 36px;
                  min-width: 0px;
                  -webkit-text-fill-color: #9091A6 !important;
                  color: #9091A6; }
                  #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-new-hint form input:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 30px #656683 inset !important;
                    -webkit-text-fill-color: #9091A6 !important; }
                  #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-new-hint form input:focus, #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-new-hint form input:active {
                    color: white;
                    -webkit-text-fill-color: white !important; }
                  #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-new-hint form input::placeholder {
                    content: 'Escribe aquí...';
                    opacity: 0.5;
                    display: block; }
            #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .flex-row-retos .flex-cell .retoTextArea.hints-cell .add-hint {
              font-style: inherit;
              font-family: inherit;
              font-size: inherit;
              border: none;
              color: white;
              margin-left: -5px;
              padding: 6px;
              vertical-align: bottom;
              background-color: transparent; }
    #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .operations-reto {
      position: absolute;
      left: 0;
      margin-left: -65px;
      margin-top: 8px;
      width: 62px;
      text-align: right; }
      #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .operations-reto form {
        display: inline-block; }
        #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .operations-reto form .delete-reto {
          background: transparent;
          border: none;
          color: white;
          padding: 2px; }
          #mainSection .main.step-puzzles .flex-table-retos-wrapper .flex-table-retos .operations-reto form .delete-reto.hidden {
            display: none; }

#mainSection .main.step-puzzles #add-reto {
  background: none;
  border: none;
  color: white;
  font-size: 38px; }
  #mainSection .main.step-puzzles #add-reto .material-icons {
    font-size: 32px; }

#mainSection .main.step-hints #noHintsLabel {
  font-family: 'Lato', sans-serif !important;
  display: block; }

#mainSection .main.step-hints #noHints {
  vertical-align: middle;
  margin-left: 10px; }

#mainSection .main.step-hints #yourScorm {
  color: #656683;
  font-size: 18px;
  display: block;
  height: 0px; }

#mainSection .main.step-hints .ui-dialog .ui-dialog-titlebar {
  background: white !important;
  border-color: white !important;
  color: #F47E84; }

#mainSection .main.step-hints #dialog-rescorm {
  padding: 0;
  background-color: white; }
  #mainSection .main.step-hints #dialog-rescorm #rescorm {
    width: 100%;
    border: none;
    margin: 0px;
    height: calc(100% - 16px); }

#mainSection .main.step-evaluation h2 {
  text-align: left; }

#mainSection .main.step-instructions .editor-wrapper {
  background-color: white;
  margin-bottom: 20px;
  color: black; }
  #mainSection .main.step-instructions .editor-wrapper #editor {
    min-height: 300px; }
    #mainSection .main.step-instructions .editor-wrapper #editor.ql-container {
      font-size: 18px; }
    #mainSection .main.step-instructions .editor-wrapper #editor * {
      font-family: 'Lato'; }
    #mainSection .main.step-instructions .editor-wrapper #editor .ql-active, #mainSection .main.step-instructions .editor-wrapper #editor .ql-snow.ql-toolbar button:hover {
      color: #F47E84; }
      #mainSection .main.step-instructions .editor-wrapper #editor .ql-active *, #mainSection .main.step-instructions .editor-wrapper #editor .ql-snow.ql-toolbar button:hover * {
        stroke: #F47E84; }

#mainSection .main .progress-buttons {
  border-radius: 25px;
  padding: 10px 20px; }
  #mainSection .main .progress-buttons#exit {
    border: 2px solid white;
    background-color: transparent;
    color: white; }

#mainSection .main .flexBoxTurnos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  #mainSection .main .flexBoxTurnos .turno {
    background-color: white;
    border: 3px solid transparent;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 5px;
    color: #161938;
    text-align: center;
    padding: 12px;
    border-radius: 20px; }
    #mainSection .main .flexBoxTurnos .turno.selected {
      border: 3px solid #FAC855; }
    #mainSection .main .flexBoxTurnos .turno.hidden {
      display: none; }
    #mainSection .main .flexBoxTurnos .turno .hora {
      font-size: 25px;
      margin-bottom: 10px;
      overflow: hidden; }
    #mainSection .main .flexBoxTurnos .turno .indications {
      color: #161938;
      font-size: 12px;
      line-height: 100%; }
      #mainSection .main .flexBoxTurnos .turno .indications .no-indications {
        color: #ddd; }

@media (max-width: 992px) {
  .half-flex-container {
    flex-wrap: wrap; }
    .half-flex-container .left-half-flex, .half-flex-container .right-half-flex {
      width: 100% !important; }
  .contenedor {
    flex-wrap: wrap; }
    .contenedor .turnosLeft {
      width: 100% !important; }
    .contenedor .turnosRight {
      width: 100% !important; } }

@media (max-width: 500px) {
  .ui-datepicker-inline.ui-datepicker {
    width: 83vw !important;
    padding-left: 10px !important;
    padding-right: 10px !important; } }

@media (max-width: 700px) {
  #mainSection .main .flexShow .flexRow {
    flex-wrap: wrap; }
    #mainSection .main .flexShow .flexRow .flexShowLeft {
      width: 100%; }
    #mainSection .main .flexShow .flexRow .flexShowRight {
      width: 100%; } }

#mainSection .main.student {
  background-image: url("../images/puzzle_bg.png");
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center; }
  #mainSection .main.student .dialog {
    background-color: #2A2A52;
    width: 50%;
    text-align: center;
    padding: 30px 100px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7); }
    #mainSection .main.student .dialog .join-button-flex-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px; }
      #mainSection .main.student .dialog .join-button-flex-container div {
        padding: 5px;
        flex: 1;
        width: 100%; }
        #mainSection .main.student .dialog .join-button-flex-container div form {
          width: 100%; }
        #mainSection .main.student .dialog .join-button-flex-container div button {
          border-radius: 25px;
          width: 100%; }

@media (max-width: 992px) {
  #mainSection .main.student .dialog {
    width: 80%;
    padding: 30px 30px; } }

@media (max-width: 767px) {
  #mainSection .main.student .dialog {
    width: 90%; }
    #mainSection .main.student .dialog .join-button-flex-container {
      flex-flow: column-reverse;
      text-align: center; }
      #mainSection .main.student .dialog .join-button-flex-container button {
        width: 100%;
        margin-bottom: 10px; } }

* {
  font-family: 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
  box-sizing: border-box; }

html {
  min-height: 100%;
  background-color: #2A2A52; }
  html body {
    min-height: 100%;
    margin: 0; }
    html body a {
      color: white;
      text-decoration: none;
      font-weight: lighter; }
    html body h1, html body h2, html body h3 {
      font-weight: lighter; }
    html body div.flexBoxEscapeRooms {
      flex-flow: row wrap; }
    html body label {
      color: #656683; }
    html body footer {
      display: flex;
      align-content: space-around;
      align-items: flex-end;
      justify-content: space-between;
      bottom: 0;
      position: absolute;
      width: 100%;
      margin-left: -15px;
      padding: 18px; }
    html body .progressBar {
      position: absolute;
      bottom: 0;
      width: 50%;
      left: 25%;
      color: white;
      text-align: center;
      padding-bottom: 10px; }
      html body .progressBar .progressText {
        padding-bottom: 10px;
        font-size: 14px; }
      html body .progressBar .outterBar {
        height: 10px;
        border: 2px solid white;
        border-radius: 5px; }
        html body .progressBar .outterBar .innerBar {
          background-color: white;
          height: 100%; }
    html body input, html body select {
      background-color: #232951;
      -webkit-text-fill-color: #656683 !important;
      color: #656683;
      font-size: large;
      text-align: center;
      border-color: #656683;
      border-radius: 20px;
      border-style: solid;
      border-width: 2px;
      height: 42px;
      outline: 0;
      caret-color: white;
      font-weight: lighter;
      box-shadow: none !important; }
      html body input:-webkit-autofill, html body select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #232951 inset !important;
        -webkit-text-fill-color: #656683 !important; }
      html body input:focus, html body input:active, html body input:-webkit-autofill:focus, html body input:-webkit-autofill:active, html body select:focus, html body select:active, html body select:-webkit-autofill:focus, html body select:-webkit-autofill:active {
        background-color: #232951;
        color: white;
        -webkit-text-fill-color: white !important;
        border-color: white; }
        html body input:focus + label, html body input:active + label, html body input:-webkit-autofill:focus + label, html body input:-webkit-autofill:active + label, html body select:focus + label, html body select:active + label, html body select:-webkit-autofill:focus + label, html body select:-webkit-autofill:active + label {
          color: white; }
    html body #flassmessages {
      position: fixed;
      bottom: 0;
      font-size: 1em !important;
      background: white;
      max-width: 600px;
      margin: 1%;
      color: #232951;
      padding: 15px;
      opacity: 0.9;
      padding-top: 0px;
      left: 0px; }
      html body #flassmessages .close {
        content: '\2716';
        top: 0;
        right: 0;
        display: block;
        position: absolute;
        text-align: right;
        height: 0;
        cursor: pointer;
        padding: 4px; }

.material-icons {
  vertical-align: middle; }
