body.escapeRooms {
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  padding: 50px;
  background-image: url("../images/background.png");
  background-size: cover; }

a {
  color: white;
  text-decoration: none; }

a.login {
  color: darkgray;
  margin-left: 40px; }

h1.login {
  color: darkgray; }

button {
  background-color: white;
  color: #161938;
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  padding: 10px;
  text-align: center;
  outline: 0; }

.main {
  flex: 1 100%;
  padding: 2px;
  margin: 1px; }

.right {
  float: right; }

.left {
  float: left; }

body.login {
  background-color: #232951;
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
  padding: 50px; }

button.login {
  background-color: #48C18E;
  color: #161938;
  border: #48C18E;
  text-align: center;
  font-size: medium;
  border-radius: 20px;
  width: 300px;
  height: 30px;
  outline: 0; }

button.registro {
  background-color: #FAC855;
  color: #161938;
  border: #FAC855;
  border-radius: 20px;
  text-align: center;
  font-size: medium;
  width: 300px;
  height: 30px;
  outline: 0; }

button.more {
  background-color: #9196A9;
  color: #D2D4DC;
  font-size: 100px;
  padding: 10px 20px;
  border-width: 5px;
  border-style: solid;
  border-color: #D2D4DC;
  border-radius: 5px;
  outline: 0; }

input {
  background-color: #232951;
  color: white;
  font-size: large;
  text-align: center;
  border-color: white;
  border-radius: 20px;
  width: 300px;
  height: 30px;
  outline: 0; }

div.loginRight {
  margin-left: 25px; }

div.loginLeft {
  background-color: #161938; }
