button {
  background-color: white;
  color: #161938;
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  padding: 10px;
  text-align: center;
  outline: 0; }
  button.login {
    background-color: #48C18E;
    color: #161938;
    border: #48C18E;
    text-align: center;
    font-size: medium;
    border-radius: 20px;
    width: 100%;
    height: 34px;
    outline: 0; }
  button.registro {
    background-color: #FAC855;
    color: #161938;
    border: #FAC855;
    border-radius: 20px;
    text-align: center;
    font-size: medium;
    width: 300px;
    height: 30px;
    outline: 0; }
  button.more {
    background-color: #9196A9;
    color: #D2D4DC;
    font-size: 100px;
    padding: 10px 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #D2D4DC;
    border-radius: 5px;
    outline: 0; }
  button[type=submit] {
    cursor: pointer; }

.escapeRooms {
  font-size: 22px;
  color: white;
  height: 100%;
  background-image: url("../images/background.png");
  background-size: cover; }

@font-face {
  font-family: "Gugi";
  src: url("../fonts/Gugi-Regular.eot?") format("eot"), url("../fonts/Gugi-Regular.woff2") format("woff2"), url("../fonts/Gugi-Regular.woff") format("woff"), url("../fonts/Gugi-Regular.ttf") format("truetype"), url("../fonts/Gugi-Regular.svg#Gugi-Regular") format("svg"); }

.portada {
  flex: 1 100%;
  height: 100%;
  background-color: #232951;
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white; }
  .portada header {
    position: absolute;
    padding: 5px; }
  .portada .contenedor {
    display: flex;
    min-height: 100%; }
    .portada .contenedor .loginLeft {
      background-color: #161938;
      width: 50%;
      text-align: center;
      flex: 7;
      padding: 30px;
      display: flex; }
      .portada .contenedor .loginLeft #imagenPortada {
        max-height: 100%;
        width: auto;
        max-width: 100%;
        align-self: center; }
    .portada .contenedor .loginRight {
      color: white;
      background-color: #232951;
      text-align: center;
      width: 50%;
      flex: 3;
      padding: 2em; }
      .portada .contenedor .loginRight h1 {
        text-align: left; }
      .portada .contenedor .loginRight input, .portada .contenedor .loginRight select {
        width: 100%; }
      .portada .contenedor .loginRight label span {
        padding-bottom: 7px;
        text-align: left;
        display: block; }
      .portada .contenedor .loginRight label:focus-within {
        color: white; }
      .portada .contenedor .loginRight .loginWelcomeMessage {
        color: dimgrey;
        text-align: left; }
    .portada .contenedor #imagenPortada {
      max-height: 04%;
      width: auto; }

* {
  font-family: 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif; }

html {
  height: 100%; }
  html body {
    height: 100%;
    margin: 0; }
    html body a {
      color: white;
      text-decoration: none;
      font-weight: lighter; }
    html body h1 {
      font-weight: lighter; }
    html body div.flexBoxEscapeRooms {
      flex-flow: row wrap; }
    html body label {
      color: dimgrey; }
    html body .left {
      float: left; }
    html body .right {
      float: right; }
    html body input, html body select {
      background-color: #232951;
      color: dimgrey;
      font-size: large;
      text-align: center;
      border-color: dimgrey;
      border-radius: 20px;
      border-style: solid;
      height: 34px;
      outline: 0;
      font-weight: lighter; }
    html body input:focus, html body select:focus {
      background-color: #232951;
      color: white;
      border-color: white; }
      html body input:focus + label, html body select:focus + label {
        color: white; }
    html body #flassmessages {
      position: fixed;
      bottom: 0;
      font-size: 1em !important;
      background: white;
      max-width: 600px;
      margin: 1%;
      color: #232951;
      padding: 15px;
      opacity: 0.9;
      padding-top: 0px; }
      html body #flassmessages .close {
        content: '\2716';
        top: 0;
        right: 0;
        display: block;
        position: relative;
        text-align: right;
        height: 0;
        cursor: pointer;
        padding: 2px; }
