body
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif
  color: white
  padding: 50px
  background-image: url("../images/background.png")
  background-size: cover

a
  color: white

button
  color: #161938
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif

.main
  flex: 1 100%
  padding: 2px
  margin: 1px

.right
  float: right

.left
  float: left

