body.escapeRooms
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif
  color: white
  padding: 50px
  background-image: url("../images/background.png")
  background-size: cover

a
  color: white

a.login
  color: darkgrey

h1.login
  color: darkgrey

button
  color: #161938
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif

.main
  flex: 1 100%
  padding: 2px
  margin: 1px

.right
  float: right

.left
  float: left

body.login
  background-color: #232951
  font: 22px 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif
  color: white
  padding: 50px

button.login
  background-color: #48C18E
  color: #161938
  border: #48C18E

button.registro
  background-color: #FAC855
  color: #161938
  border: #FAC855

input
  background-color: #232951
  color: white
  border-color: white

div.contenedor
  height: 100px
  margin: 0 auto

div.loginLeft, div.loginRight
  float: left
  height: 100%
  margin: 2px