@import 'main'
@import 'buttons'
@import 'gugi'
@import 'portada'
@import 'escapeRooms'

*
  font-family: 'Gugi', "Lucida Grande", Helvetica, Arial, sans-serif
  box-sizing: border-box
html 
  min-height: 100%
  body
    min-height: 100%
    margin: 0
    a
      color: white
      text-decoration: none
      font-weight: lighter

    h1
      font-weight: lighter

    div.flexBoxEscapeRooms
      flex-flow: row wrap

    label
      color: dimgrey
    .left
      float: left
    .right
      float: right
    footer
      display: flex
      align-content: space-around
      align-items: flex-end
      justify-content: space-between
      bottom: 0
      position: absolute
      width: 100%
      margin-left: -15px
      padding: 18px
    input, select
      background-color: #232951
      color: dimgrey
      font-size: large
      text-align: center
      border-color: dimgrey
      border-radius: 20px
      border-style: solid
      border-width: 2px
      height: 34px
      outline: 0
      font-weight: lighter

    input:focus, select:focus
      background-color: #232951
      color: white
      border-color: white
      & + label
        color: white
    #flassmessages
      position: fixed
      bottom: 0
      font-size: 1em !important
      background: white
      max-width: 600px
      margin: 1%
      color: #232951
      padding: 15px
      opacity: 0.9
      padding-top: 0px
      .close
        content: '\2716'
        top: 0
        right: 0
        display: block
        position: absolute
        text-align: right
        height: 0
        cursor: pointer
        padding: 4px
