<h1 class="loginWelcomeMessage">Bienvenido a la plataforma de gestión de escape rooms ;)</h1>


<h1>Login</h1>

<form method='POST' action='/'>

    <input type='hidden' name='redir' value='<%= redir %>'>

    <div>
        <label for="login"><span>E-mail</span>
            <input type="email" id="login" name="login" size="30" autofocus placeholder="Introduce tu email" autocomplete="off"/>
        </label>
    </div>
    <br />
    <div>
        <label for="password"><span>Contraseña</span>
            <input type="password" id="password" name="password" size="30" placeholder="Introduce tu contraseña" autocomplete="off" />
        </label>
    </div>
    <br />
    <div>
        <button class="login" type="submit" value="Login">login</button>
        <br />
    </div>
</form>
<br />
<a class="login" href="/users/new">¿No tienes cuenta?</a>