<% include ../partials/_header.ejs %>
<div class="main">
<h1>
    Editar usuario:
</h1>

<form method="post" action="/users/<%= user.id %>?_method=PUT">
    <%- include("./_form.ejs") %>

</form>
</div>
<% include ../partials/__footer.ejs %>
