<div class="portada">
	<header class="" id="mainHeader">
		<img src="/images/logo.png" width="12%" style=" margin-top: 0px; margin-bottom: 5px"/>
		<img src="/images/ESCUDO_UPM.png" width="5%" style=" margin-top: 0px; margin-bottom: 5px; float: right"/>
	</header>
	<div class="contenedor" style="display: flex">
		<div class="loginLeft" style="">
			<img id="imagenPortada" src="/images/puzzle.png" width="80%"/>

		</div>
		<div class="loginRight" style="">
			<h1 class="loginWelcomeMessage">
				Regístrate:
			</h1>

			<form method="post" action="/users">
				<% include _form.ejs %>
			</form>
		</div>
	</div>
</div>