
<body class="login">
<div class="contenedor" style="display: flex">
    <div class="loginLeft" style="width: 50%; float: left">
        <img src="/images/puzzle.png" width="80%"/>

    </div>
<div class="loginRight" style=" width: 50%; float: left; flex: 1">
<h1>
    Regristate:
</h1>

<form method="post" action="/users">
    <% include _form.ejs %>
</form>
</div>
</div>
</body>