<header class="main" id="mainHeader">

    <img src="/images/logo.png" width="10%" style=" margin-top: 0px; margin-bottom: 5px"/>
    <img src="/images/ESCUDO_UPM.png" width="5%" style=" margin-top: 0px; margin-bottom: 5px; float: right"/>
</header>
<body class="login">
<div class="contenedor" style="display: flex">
    <div class="loginLeft" style="width: 50%; float: left">
        <img src="/images/puzzle.png" width="80%"/>

    </div>
<div class="loginRight" style=" width: 50%; float: left; flex: 1">
<h1>
    Regístrate:
</h1>

<form method="post" action="/users">
    <% include _form.ejs %>
</form>
</div>
</div>
</body>