<% include ../escapeRooms/_header.ejs %>
<div class="main escapeRooms">
<div class="escapeRoomList">
<h1 style="text-align: center">
    No tienes ninguna escape room pendiente, espera a que tu profe te de acceso a alguna...
</h1>
</div>
</br>
<% include ../partials/__footer %>
</div>