
<form method="POST" action="/escapeRooms/<%= escapeRoom.id %>/step2/">
    <div class="contenedor" style="display: flex; height: 100%">
        <div class="turnosLeft" style="width: 50%; float: left">
            <div id="datepicker"></div>
        </div>
        <div class="loginRight" style=" width: 50%; float: left; flex: 1">

            <h2>
                <input class="fecha" type="hidden" id="datepicker2" name="date">
                <span id="currentDate"></span>
            </h2>

            <input class="turnos" type="text" id="tit" name="start" value="" placeholder="00:00" autocomplete="off"/>
            <input class="turnos" type="text" id="nar" name="narrative" value="" placeholder="¿Alguna indicación?" autocomplete="off"/>
            <button type="submit" class="more">+</button>
        </div>
    </div>
</form>
