<% include ../../partials/_header.ejs %>
<div class="main student">
    <div class="dialog" >
        <h1>Antes de empezar...</h1>
        <div class="dialog-content">
            <p class="evaluation-paragraph">Rellena el siguiente cuestionario:<br/><br/>
                <a target="_blank" href="<%=escapeRoom.pretest%>"><%=escapeRoom.pretest%></a>
            </p>
        </div>
        <a href="#" onclick="return confirm('¿Seguro que has rellenado el cuestionario?')">
            <button>
                continuar
            </button>
        </a>
    </div>
</div>